{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}

<section class="container-fluid mt-5">

    <div  class="d-flex justify-content-center">
        <div class="col-md-8">
            
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-5">
                  <li class="breadcrumb-item text-primary"><a href="/" class="text-primary">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Descentralización para el bienestar</li>
                </ol>
            </nav>

            <div class="section-header mt-5">
            <p class="font-level-1 pb-1 text-md-left text-center text-black font-weight-bold" id="secciones">Proceso Participativo</p>
            </div>
            <div class="section-body">
            <p class="h4 pb-4">Hemos recorrido un largo camino, con la convicción de que la descentralización nos acerca y permite un mayor bienestar en la vida de las 
              personas que habitan los diversos territorios del país. Por ello vamos a dialogar entre todas y todos, para construir una política pública que nos permita 
              contar con un mejor lugar donde vivir y desarrollar nuestras capacidades, independiente del lugar en el que se encuentre.</p>
            </div>
            <div class="my-5 col-md-6">
                {% countdown_component %}
            </div>
        </div>
    </div>
    
    <div class="my-4">
        {% include "components/logo_banner.html"%}
    </div>

    <div class="container my-md-5">
        <div class="row align-items-start">
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-1 text-black">¿Qué entendemos por descentralización?</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 mb-md-0 text-body h-50">
                      La descentralización es un proceso de redistribución de responsabilidades, recursos y capacidades, 
                      desde ministerios y servicios públicos, hacia municipalidades y gobiernos regionales, para un mayor bienestar de las personas y sus comunidades.
                    </p>
                </div>

            </div>
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-1 text-black">¿Cuál es la relación entre descentralización y bienestar?</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 mb-md-0 text-body h-50">
                      La descentralización genera un vínculo más directo entre las necesidades de las personas y la toma de decisiones del Estado, 
                      mediante institucionalidad y autoridades más cercanas, lo que permite solucionar problemas públicos de manera más oportuna y pertinente.
                    </p>
                </div>

            </div>
            <div class="col-md-4 px-3">
              <div class="section-header">
                  <p class="font-level-2 text-center pb-1 text-black">¿Qué se ha hecho en esta materia?</p>
              </div>
              <div class="section-body">
                  <p class="h4 text-left pb-4 mb-md-0 text-body h-50">
                    La Política de Descentralización recoge los diálogos, aprendizajes y propuestas de los últimos años, y el trabajo realizado por la 
                    Comisión Asesora Presidencial en Descentralización y Desarrollo. Contando además con el aporte de organismos internacionales, centros de 
                    estudios y universidades, fundaciones, y la experiencia comparada de otros países.
                  </p>
              </div>
          </div>
        </div>
    </div>
    <div class="h4 text-left pb-4 mb-md-0 text-body h-50"></div>



    <!-- Texto: El recorrido de la descentralización (agregado a última hora) -->
    <div class="container my-md-5"> 
      <p class="font-level-2 text-center pb-4 text-black font-weight-bold">El recorrido de la descentralización</p>
      <p class="h4 pb-4">Tras el regreso a la democracia, el país enfrentó una serie de desafíos para avanzar en su 
        desarrollo. Uno de los temas recurrentes que surgió fue la descentralización del Estado, 
        que se consideró crucial para fortalecer la institucionalidad territorial, y mejorar la calidad 
        de vida de las personas en todas las regiones del país.
        </p>
        <p class="h4 pb-4">Este proceso de descentralización se llevó a cabo gradualmente, a través de acuerdos 
        políticos que se plasmaron en diversas reformas institucionales. Además, contó con la 
        contribución de organismos públicos, privados y académicos, tanto nacionales como 
        internacionales, que realizaron diagnósticos y propuestas en esta materia.
        </p>
        <p class="h4 pb-4">A inicios de los años 90, luego del proceso de regionalización y desconcentración de los 
        años previos, se inició un camino que generó la democratización de las autoridades 
        municipales. Alcaldes y alcaldesas fueron electos por concejales inicialmente, para ser 
        elegidos de manera directa por la ciudadanía desde el año 2004. 
        </p>
        <p class="h4 pb-4">A nivel regional, los años 90 estuvieron marcados por la creación de los gobiernos 
        regionales, organismos encargados del desarrollo social, cultural y económico de cada 
        región, capaces de gestionar inversión para el desarrollo de sus territorios. Estuvieron 
        constituidos legalmente por consejeras y consejeros regionales -electos en principio de 
        manera indirecta por los concejales municipales-, y por los antiguos intendentes e 
        intendentas, designados por el Presidente de la República. 
        </p>
        <p class="h4 pb-4">Entre los años 90 y el primer decenio de los 2000, se generaron distintas reformas a nivel 
        comunal y regional, que incluyeron la creación de nuevas comunas y regiones, el 
        perfeccionamiento a las rentas municipales, la incorporación de instrumentos de 
        planificación y gestión, además de dotar a las municipalidades y gobiernos regionales de 
        variadas funciones y atribuciones. 
        </p>
        <p class="h4 pb-4">El segundo decenio de los años 2000, estuvo marcado por la profundización del proceso 
        descentralizador, a través de diversas reformas constitucionales y legales que 
        fortalecieron el rol de gobiernos regionales y municipalidades como entidades 
        responsables del desarrollo económico, social y cultural en sus territorios. 
        </p>
        <p class="h4 pb-4">En dicho periodo se materializó la elección directa de las consejeras y consejeros 
        regionales, realizada por primera vez el año 2013, además de la tramitación y aprobación 
        legislativa de la elección de la nueva figura de las gobernadoras y gobernadores 
        regionales. Junto a ello, se dio inicio a los procesos de transferencia de competencias 
        desde ministerios y servicios públicos hacia los gobiernos regionales.
        </p>
        <p class="h4 pb-4">En la actualidad, el Gobierno del Presidente Gabriel Boric ha asumido un fuerte 
        compromiso con la descentralización, siendo uno de los cuatro ejes transversales de su 
        programa de gobierno. Durante su mandato, entre otras materias:</p>
        
        <p class="h4 pb-4">
          <ul>
            <li><p class="h4 pb-4">Se desarrolla gran parte del primer ejercicio en sus funciones de los gobernadores y 
              gobernadoras de Chile, que vino a finalizar el proceso de democratización de las 
              autoridades subnacionales, dibujando un nuevo escenario de relación entre la administración regional y el nivel central.</p></li>
            <li><p class="h4 pb-4">Se inicia el proceso de transferencia de competencias en régimen de las reformas del 
              año 2018, estableciendo acuerdos previos en la materia, en conjunto con la Asociación 
              Nacional de Gobernadores y Gobernadoras de Chile (AGORECHI) y la Agrupación Nacional de Empleados Fiscales (ANEF).</p></li>
            <li><p class="h4 pb-4">Se inicia el proceso de constitución y administración de áreas metropolitanas, a través 
              de las cuales se busca coordinar de mejor forma políticas públicas en un espacio 
              territorial distinto, desde los gobiernos regionales, con una estrecha articulación con 
              los alcaldes y sectores, en materias como transporte, tránsito, conectividad, movilidad 
              y espacio público, vivienda, obras públicas, medio ambiente y gestión de los residuos domiciliarios.</p></li>
            <li><p class="h4 pb-4">Se implementan los planes de desarrollo de zonas rezagadas, propuestos por el 
              respectivo gobierno regional, entendidos estos como instrumentos de orientación e 
              inversión, cuyo objeto es potenciar un determinado territorio y la superación de sus brechas sociales.</p></li>
            <li><p class="h4 pb-4">Se publica la política nacional de zonas extremas, cuyo principal objetivo es promover 
              la convergencia de territorios así definidos al proceso de desarrollo del país de forma 
              permanente, fomentando que sus habitantes tengan acceso a servicios sociales y oportunidades continuas para su bienestar personal y social.</p></li>
            <li><p class="h4 pb-4">Se publica la Ley de Royalty, que indica que un porcentaje de la recaudación del 
              impuesto a la gran minería se destine directamente a fondos en beneficio de los gobiernos regionales y municipalidades.</p></li>
            <li><p class="h4 pb-4">Se inicia la tramitación del proyecto de ley denominado “Regiones Más Fuertes”, cuyo 
              objetivo es dotar a los gobiernos regionales de mayor autonomía, capacidad de generar ingresos propios, y transparencia en la gestión de los recursos.</p></li>
          </ul>
        </p>
      <p class="h4 pb-4">Finalmente, se destaca el compromiso de la elaboración participativa de la Política de 
        Descentralización de Chile, cuyo itinerario contempla el desarrollo de una serie de instancias señaladas en esta misma página.
      </p>
      <p class="h4 pb-4">Dicha Política prevé el diseño de una hoja de ruta que trasciende al gobierno, para la 
      construcción de un Estado más descentralizado, y a través de ello, contribuir a un 
      desarrollo más justo y equitativo de las diversas comunidades territoriales.</p>
   </div>

    <!-- Inicio sección del recorrido -->
    <div>
        <!-- Línea de tiempo 1-->
        <div>
            <div>
                <p class="font-level-2 pb-2 text-center text-black">El recorrido, desde los diagnósticos y propuestas</p>
            </div>
            <div class="container my-md-5">
                <p class="font-level-4 pb-2 text-black">Algunos hitos importantes:</p>
            </div>
            <!-- Hitos -->
            <div class="container my-md-5">
                <!-- Hito 1 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2001 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-1 text-black">“El Chile descentralizado Que Queremos, un proyecto de todos”</p>
                      <div class="col-lg-9 d-flex my-3">
                            <button type="button" class="btn btn-pill-primary text-primary text-nowrap moreBtn">
                                Ver más <i class="material-symbols-outlined">expand_more</i>
                            </button>
                            <button type="button" class="btn btn-pill-primary text-primary text-nowrap lessBtn" style="display: none;">
                                Ver menos <i class="material-symbols-outlined">expand_less</i>
                            </button>
                      </div>
                      <div>
                        <p class="h4 text-left pb-5 mb-md-0 text-body h-50 hiddenText" style="display: none;">El Ministerio del Interior, a través de la Subsecretaría de Desarrollo Regional y Administrativo, desarrolla esta 
                          iniciativa con miras al bicentenario de la República. Se recogen reflexiones y propuestas de más de un millar de personas de todo el país, incluyendo autoridades, ciudadanos y ciudadanas.
                        </p>
                      </div>
                  </div>
                </div>

                <!-- Hito 2 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2014 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-1 text-black">“Propuesta de Política de Estado y Agenda para la Descentralización y el Desarrollo Territorial de Chile, Hacia un País Desarrollado y Justo”</p>
                      <div class="col-lg-9 d-flex my-3">
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap moreBtn">
                              Ver más <i class="material-symbols-outlined">expand_more</i>
                          </button>
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap lessBtn" style="display: none;">
                              Ver menos <i class="material-symbols-outlined">expand_less</i>
                          </button>
                      </div>
                      <div>
                        <p class="h4 text-left pb-5 mb-md-0 text-body h-50 hiddenText" style="display: none;">Durante el segundo gobierno de la Presidenta Bachelet, se crea la Comisión Asesora Presidencial en Descentralización 
                          y Desarrollo Regional. Se lleva a cabo un diálogo con las quince regiones del país, involucrando a representantes de la sociedad civil, sector privado, académicos, gremios y funcionarios públicos. El resultado es un conjunto de propuestas para construir un Chile descentralizado, justo y digno.
                        </p>
                      </div>
                  </div>
                </div>

                <!-- Hito 3 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2023 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-1 text-black">Profundización del Proceso de Descentralización, Construcción Participativa de una Política Nacional</p>
                      <div class="col-lg-9 d-flex my-3">
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap moreBtn">
                              Ver más <i class="material-symbols-outlined">expand_more</i>
                          </button>
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap lessBtn" style="display: none;">
                              Ver menos <i class="material-symbols-outlined">expand_less</i>
                          </button>
                      </div>
                      <div>
                        <p class="h4 text-left pb-5 mb-md-0 text-body h-50 hiddenText" style="display: none;">Luego de la primera elección de los gobernadores y gobernadoras regionales, el desarrollo de transferencia de competencias, y de avances legislativos en materia fiscal regional, el proceso de descentralización 
                          en Chile continúa en curso, y desafía tener una Política de Estado que contribuya a la construcción de un país más equitativo, justo y desarrollado para los habitantes de cada una de sus comunas y regiones.
                        </p>
                      </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- Línea de tiempo 2-->
        <div>
            <div>
                <p class="font-level-2 pb-2 text-center text-black" style="margin-top:35px">La evolución del proceso en sus distintas dimensiones</p>
            </div>
            <div class="container my-md-5">
                <p class="font-level-4 pb-2 text-black">Descentralización Política:</p>
                <!-- Avances -->
                <p class="font-level-4 text-black">Avances</p>
            </div>
            <!-- Hitos -->
            <div class="container my-md-5">
                <!-- Hito 1 -->
                <div class="hitos-block">
                  <div class="hitos-date pb-5" style="line-height: 1"> 1990 <br>a<br> 2004 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-5 text-black">Elección ciudadana de alcaldes, alcaldesas, concejales y concejalas.</p>
                  </div>
                </div>

                <!-- Hito 2 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2011 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-5 text-black">Ley sobre asociaciones y participación ciudadana en la gestión pública.</p>
                  </div>
                </div>

                <!-- Hito 3 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2013 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-5 text-black">Elección directa y por sufragio universal de consejeros y consejeras regionales.</p>
                  </div>
                </div>

                <!-- Hito 4 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2021 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 text-black">Elección directa y por sufragio universal de gobernadores y gobernadoras regionales.</p>
                  </div>
                </div>
            </div>

            <div class="container my-md-5">
                <!-- Desafíos -->
                <p class="font-level-4 text-black" style="margin-top:20px">Desafíos</p>
            </div>
            <div class="container my-md-5">
                 <!-- Desafío 1 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Fortalecimiento de la participación ciudadana.</p>
                  </div>
                <!-- Desafío 2 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Potenciar una comunidad activa e involucrada en la solución de problemáticas públicas.</p>
                  </div>
                <!-- Desafío 3 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Desarrollar mecanismos de información y rendición de cuentas.</p>
                  </div>
                <!-- Desafío 4 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Mejorar niveles de información, consulta e incidencia ciudadana.</p>
                  </div>
            </div>


        </div>

        <!-- Línea de tiempo 3-->
        <div>
            <div>
                <p class="font-level-2 pb-2 text-center text-black" style="margin-top:35px">Descentralización Administrativa:</p>
            </div>
            <div class="container my-md-5">
                <!-- Avances -->
                <p class="font-level-4 text-black">Avances</p>
            </div>
            <!-- Hitos -->
            <div class="container my-md-5">
                <!-- Hito 1 -->
                <div class="hitos-block">
                  <div class="hitos-date pb-5" style="line-height: 1"> 2005 <br>a<br> 2017 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-5 text-black">Se transfiere competencias de planificación y ordenamiento territorial a gobiernos regionales.</p>
                  </div>
                </div>

                <!-- Hito 2 -->
                <div class="hitos-block">
                  <div class="hitos-date pb-5" style="line-height: 1"> 2018 <br>a<br> 2023 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-1 text-black">Transferencia de competencias en periodo en transitorio, hacia gobiernos regionales.</p>
                      <div class="col-lg-9 d-flex my-3">
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap moreBtn">
                              Ver más <i class="material-symbols-outlined">expand_more</i>
                          </button>
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap lessBtn" style="display: none;">
                              Ver menos <i class="material-symbols-outlined">expand_less</i>
                          </button>
                      </div>
                      <div>
                        <p class="h4 text-left pb-5 mb-md-0 text-body h-50 hiddenText" style="display: none;">Desde Ministerios de Transporte y Telecomunicaciones y de Vivienda y Urbanismo, y desde los servicios  Fondo de Solidaridad e Inversión Social (Fosis), Servicio de Cooperación Técnica (Sercotec) y Corporación de Fomento de la Producción (Corfo).
                        </p>
                      </div>
                  </div>
                </div>

                <!-- Hito 3 -->
                <div class="hitos-block">
                  <div class="hitos-date pb-5" style="line-height: 1"> 2022 <br>hasta<br> hoy </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-1 text-black">Transferencia de competencias en periodo en régimen.</p>
                      <div class="col-lg-9 d-flex my-3">
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap moreBtn">
                              Ver más <i class="material-symbols-outlined">expand_more</i>
                          </button>
                          <button type="button" class="btn btn-pill-primary text-primary text-nowrap lessBtn" style="display: none;">
                              Ver menos <i class="material-symbols-outlined">expand_less</i>
                          </button>
                      </div>
                      <div>
                        <p class="h4 text-left pb-5 mb-md-0 text-body h-50 hiddenText" style="display: none;">Hacia gobiernos regionales de competencias concordadas con los gobernadores y gobernadoras de cada región.</p>
                      </div>
                  </div>
                </div>

            <div class="container my-md-5">
                <!-- Desafíos -->
                <p class="font-level-4 text-black" style="margin-top:20px">Desafíos</p>
            </div>
            <div class="container my-md-5">
                 <!-- Desafío 1 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Modelo de distribución competencial, ¿quién hace qué?</p>
                  </div>
                <!-- Desafío 2 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Transferencia de competencias diferenciadas, y con enfoque de integralidad de procesos.</p>
                  </div>
                <!-- Desafío 3 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Sistemas de coordinación y colaboración entre niveles y sectores.</p>
                  </div>
                <!-- Desafío 4 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Generación y fortalecimiento de capacidades.</p>
                  </div>
            </div>
        </div>
        </div>

        <!-- Línea de tiempo 4-->
        <div>
            <div>
                <p class="font-level-2 pb-2 text-center text-black" style="margin-top:35px">Descentralización Fiscal:</p>
            </div>
            <div class="container my-md-5">
                <!-- Avances -->
                <p class="font-level-4 pb-2 text-black">Avances</p>
            </div>
            <!-- Hitos -->
            <div class="container my-md-5">
                <!-- Hito 1 -->
                <div class="hitos-block">
                  <div class="hitos-date pb-5"> 1974 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-5 text-black">Fondo Nacional de Desarrollo Regional.</p>
                  </div>
                </div>

                <!-- Hito 2 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 1979 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-5 text-black">Rentas municipales y fondo común municipal.</p>
                  </div>
                </div>

                <!-- Hito 3 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2023 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-2 text-black">Flexibilidades ley de presupuestos 2023 para gobiernos regionales.</p>
                  </div>
                </div>
                <div class="hitos-block">
                  <div class="hitos-date"> </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-2 text-black">Ley de Royalty Minero.</p>
                  </div>
                </div>
                <div class="hitos-block">
                  <div class="hitos-date"> </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-3 text-black">Proyecto de Ley Regiones Más Fuertes.</p>
                  </div>
                </div>

            <div class="container my-md-5">
                <!-- Desafíos -->
                <p class="font-level-4 text-black" style="margin-top:20px">Desafíos</p>
                <p class="h4 text-left text-body">A nivel Municipal, considera correcciones sobre condiciones de territorios especiales:</p>
                 <!-- Desafío 1 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Rentas municipales.</p>
                  </div>
                <!-- Desafío 2 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Mejoras en distribución del Fondo Común Municipal.</p>
                  </div>
                <!-- Desafío 3 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Transparencia y probidad en el uso de los recursos.</p>
                  </div>
            </div>

            <div class="container my-md-5">
                <!-- Desafíos -->
                <p class="h4 text-left mb-md-0 text-body h-50" style="margin-top:20px">A nivel Regional:</p>
                 <!-- Desafío 1 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Mayor autonomía financiera y presupuestaria.</p>
                  </div>
                <!-- Desafío 2 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Mejorar mecanismos de equidad.</p>
                  </div>
                <!-- Desafío 3 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Reforzar la institucionalidad fiscal en el ejercicio responsable, transparente y probo de competencias.</p>
                  </div>
            </div>

            <div class="container my-md-5">
              <!-- Desafíos -->
              <p class="h4 text-left mb-md-0 text-body h-50" style="margin-top:20px">A partir del análisis comparado, del país con otros Estados Unitarios y con países de la OCDE:</p>
               <!-- Desafío 1 -->
                <div class="desafio">
                    <span class="material-symbols-outlined flag-icon">flag</span>
                    <p class="h4 text-left mb-md-0 text-body h-50">Gasto público y recaudación fiscal más descentralizada.</p>
                </div>
              <!-- Desafío 2 -->
                <div class="desafio">
                    <span class="material-symbols-outlined flag-icon">flag</span>
                    <p class="h4 text-left mb-md-0 text-body h-50">Mayores niveles de ingresos y de autonomía en el uso de los recursos.</p>
                </div>
              <!-- Desafío 3 -->
                <div class="desafio">
                    <span class="material-symbols-outlined flag-icon">flag</span>
                    <p class="h4 text-left mb-md-0 text-body h-50">Aumento de estándares de responsabilidad fiscal.</p>
                </div>
          </div>

        </div>

    </div>

        <!-- Línea de tiempo 5-->
        <div>
            <div>
                <p class="font-level-2 pb-2 text-center text-black" style="margin-top:35px">Capacidades y condiciones institucionales, como dimensión transversal:</p>
            </div>
            <div class="container my-md-5">
                <!-- Avances -->
                <p class="font-level-4 text-black">Avances</p>
            </div>
            <!-- Hitos -->
            <div class="container my-md-5">
                <!-- Hito 1 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2005 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-4 text-black">Asociativismo regional, anteproyecto regional de inversiones y programa público de inversión regional.</p>
                  </div>
                </div>

                <!-- Hito 2 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2011 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-4 text-black">Asociativismo municipal.</p>
                  </div>
                </div>

                <!-- Hito 3 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2015 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-4 text-black">Fortalecimiento de Consejos Regionales.</p>
                  </div>
                </div>

                <!-- Hito 4 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2016 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-4  text-black">Ley de Plantas Municipales.</p>
                  </div>
                </div>

                <!-- Hito 5 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2018 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-4  text-black">Convenios de Programación y Convenios de Programación Territorial.</p>
                  </div>
                </div>

                <!-- Hito 6 -->
                <div class="hitos-block">
                  <div class="hitos-date"> 2019 </div>
                  <div class="timeline">
                    <div class="timeline-dot"></div>
                  </div>
                  <div>
                      <p class="font-level-4 pb-2 text-black">Ley de Transformación digital.</p>
                  </div>
                </div>

            </div>

            <div class="container my-md-5">
                <!-- Desafíos -->
                <p class="font-level-4 text-black" style="margin-top:20px">Desafíos</p>
            </div>
            <div class="container my-md-5" style="margin-bottom:50px">
                 <!-- Desafío 1 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Fortalecimiento del capital humano calificado.</p>
                  </div>
                <!-- Desafío 2 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Modernización de la carrera funcionaria, a nivel regional y municipal.</p>
                  </div>
                <!-- Desafío 3 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Modelos de gestión colaborativos.</p>
                  </div>
                <!-- Desafío 4 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Herramientas digitales.</p>
                  </div>
                <!-- Desafío 5 -->
                  <div class="desafio">
                      <span class="material-symbols-outlined flag-icon">flag</span>
                      <p class="h4 text-left mb-md-0 text-body h-50">Fortalecimiento del rol de consejos comunales y consejos regionales.</p>
                  </div>

            </div>


        </div>

</section>

{% endblock views %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$('.moreBtn').click(function() {
    let $this = $(this);
    let $parentDiv = $this.parent().parent();
    let $hiddenText = $parentDiv.find('.hiddenText');
    let $lessBtn = $parentDiv.find('.lessBtn');

    $hiddenText.show();
    $lessBtn.show();
    $this.hide();
    $this.css("margin-bottom", "0");  // Elimina el margen
});

$('.lessBtn').click(function() {
    let $this = $(this);
    let $parentDiv = $this.parent().parent();
    let $hiddenText = $parentDiv.find('.hiddenText');
    let $moreBtn = $parentDiv.find('.moreBtn');

    $hiddenText.hide();
    $moreBtn.show();
    $this.hide();
    $moreBtn.css("margin-bottom", "20px");  // Restaura el margen
});

</script>



{% endblock scripts %}