{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}

<section class="container-fluid mt-5">

    <div  class="d-flex justify-content-center">
        <div class="col-md-8">
            
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-5">
                  <li class="breadcrumb-item text-primary"><a href="/" class="text-primary">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Descentralización para el bienestar</li>
                </ol>
            </nav>

            <div class="section-header mt-5">
            <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold" id="secciones">Descentralización para el bienestar</p>
            </div>
            <div class="section-body">
            <p class="h4 pb-4">Hemos recorrido un largo camino, con la convicción que la descentralización nos acerca y
                permite un mayor bienestar pertinente a quienes somos.</p>
            </div>
            <div class="my-5 col-md-6">
                {% countdown_component %}
            </div>
        </div>
    </div>
    
    <div class="my-4">
        {% include "components/logo_banner.html"%}
    </div>

    <div class="container my-md-5">
        <div class="row align-items-start">
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-4 text-black">¿Qué entendemos por descentralización?</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 mb-md-0 text-body h-50">
                        La descentralización es un proceso de redistribución del poder, a través del cual se reconoce
                        el legítimo derecho de las personas para que, mediante sus representantes o en forma directa,
                        decidan los asuntos relativos al desarrollo económico, social y cultural de sus territorios.
                    </p>
                </div>

            </div>
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-4 text-black">Descentralización y Bienestar</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 mb-md-0 text-body h-50">
                        Entendida la descentralización como un concepto eminentemente político, de redistribución de
                        poder, constituye así un medio para aumentar armónica, integral y equitativamente el bienestar
                        de los territorios y sus comunidades.
                    </p>
                </div>

            </div>
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-4 text-black">¿Qué se ha hecho en esta materia?</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 mb-md-0 text-body h-50">
                        Hemos recorrido un largo camino, con la convicción que la descentralización se constituye en
                        un imperativo para aumentar armónica, integral y equitativamente el bienestar de los territorios
                        y sus comunidades.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Inicio sección del recorrido -->
    <div>
        <!-- Línea de tiempo -->
        <div>
            <div>
                <p class="font-level-2 text-center text-black">El recorrido, desde los diagnósticos y propuestas</p>
            </div>
            <div class="container my-md-5">
                <p class="font-level-4 pb-3 text-black">Algunos hitos importantes:</p>
            </div>
            <!-- Hitos -->
            <div class="container my-md-5">
                <!-- Hito 1 -->
                <div class="hitos-block">
                      <div class="hitos-date"> 2001 </div>
                      <div class="timeline">
                        <div class="timeline-dot"></div>
                      </div>
                      <div class="hitos-info">
                        <h4>“El Chile descentralizado Que Queremos, un proyecto de todos”</h4>
                        <div class="hitos-description">
                           <p>El Ministerio del Interior, a través de la Subsecretaría de Desarrollo Regional y
                               Administrativo, desarrolla esta iniciativa con miras al bicentenario de la República.
                               Se recogen reflexiones y propuestas de más de un millar de personas de todo el país,
                               incluyendo autoridades, ciudadanos y ciudadanas.
                           </p>
                        </div>
                      </div>
                  </div>
                <!-- Hito 2 -->
                <div class="hitos-block">
                      <div class="hitos-date"> 2014 </div>
                      <div class="timeline">
                        <div class="timeline-dot"></div>
                      </div>
                      <div class="hitos-info">
                        <h4>“Propuesta de Política de Estado y Agenda para la Descentralización y el Desarrollo
                            Territorial de Chile, Hacia un País Desarrollado y Justo”</h4>
                        <div class="hitos-description">
                           <p>Durante el segundo gobierno de la Presidenta Bachelet, se crea la Comisión Asesora
                               Presidencial en Descentralización y Desarrollo Regional. Se lleva a cabo un diálogo con
                               las quince regiones del país, involucrando a representantes de la sociedad civil, sector
                               privado, académicos, gremios y funcionarios públicos. El resultado es un conjunto de
                               propuestas para construir un Chile descentralizado, justo y digno.
                           </p>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>

</section>

{% endblock views %}