{% extends "base/base.html" %} 
{% load static %}
{% block views %}
{% load countdown_tags %}
<div>
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-5">
                    <li class="breadcrumb-item">
                        <a href="{%  url 'home_app:index' %}" class="text-primary">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Documentos</li>
                </ol>
            </nav>

            <div class="section-header mt-5">
                <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold" id="secciones">
                    Documentos
                </p>
            </div>
            <div class="section-body">
                <p class="h4 pb-4">
                    Si quieres tener más antecedentes para participar en la consulta, o
                    para seguir este proceso, tenemos un repositorio de documentos de
                    interés.
                </p>
            </div>
            <div class="my-5 col-md-6">{% countdown_component %}</div>
        </div>
    </div>

    <div>{% include "components/logo_banner.html"%}</div>

    <div class="d-flex justify-content-center">
        <div class="col-md-8 mb-5">

            <div id="documentos-documentosnormativos" class="my-5 pt-md-2">
                <div id="dnContainer">
                    {% include "components/colapsable_documentos.html" with titulo=documento.titulo_documento seccion=seccion_documento.seccion_documento documento=documento.documento %}
                </div>              
            </div>

            <div>{% include "components/invitacion.html"%}</div>
        </div>
    </div>
</div>
{% endblock views %}source venv/bin/activate