{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}
<section class="container-fluid mt-5">

  <div class="container-hero">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <p class="h1 mb-5 text-black text-center text-md-left font-weight-bold">La descentralización necesita tu opinión
        </p>
        <p class="h4 mb-5">En solo 2 minutos estarás aportando a las diversas voces
          desde las que se está levantando la Política Nacional de Descentralización.</p>
        <div class="w-md-75">
          <button type="button" class="btn btn-primary btn-lg px-5 w-100"
            onclick="window.location.href='{% url 'home_app:onboarding' %}'">Participar</button>
          <div class="my-5">
            {% countdown_component %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center m-5 w-100 ">
        <img src="{% static 'img/logo_descentralizacion.svg' %}" alt="logo-desentralizacion" class="w-100 h-100" />
      </div>
    </div>
  </div>

  <section>
    {% include "components/logo_banner.html"%}
  </section>

  <div class="container">
    <section class="col-md-12">
      <div class="section-header mt-5 ">
        <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold" id="secciones">Consulta
          Ciudadana para la Descentralización</p>
      </div>
      <div class="section-body">
        <p class="h4 text-justify pb-4">Como Subsecretaría de Desarrollo Regional y Administrativo estamos impulsando
          esta consulta ciudadana
          para recoger las opiniones de personas que participen libre y voluntariamente en la elaboración de la
          Política Nacional de Descentralización (PND), y llevar adelante una políticas más inclusivas y moderna.</p>
      </div>
      <div class="my-3 d-flex justify-content-center">
        <button class="btn btn-neutral btn-default-size text-primary border-primary bg-white mb-5" type="button"
          onclick="window.location.href='{% url 'home_app:proceso_participativo' %}'">Conocer Proceso Participativo
          <i class="material-symbols-outlined">
            chevron_right
          </i>
        </button>
      </div>
    </section>
  </div>

  <!-- aqui parten las columnas -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3 mx-auto">
        <div class="section-header">
          <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Descentralización para el Bienestar</p>
        </div>
        <div class="section-body">
          <p class="h4 pb-4">Hemos recorrido un largo camino, con la convicción que la descentralización nos acerca y permite un mayor bienestar pertinente a quienes somos.</p>
        </div>
        <div class="my-3 d-flex justify-content-center  w-100">
          <button class="btn btn-neutral text-nowrap text-primary border-primary bg-white mb-5" type="button">Conoce la historia del Proceso
            <i class="material-symbols-outlined">
              chevron_right
            </i>
          </button>
        </div>
      </div>

      <div class="col-lg-3 mx-auto">
        <div class="section-header">
          <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Respondemos tus preguntas</p>
        </div>
        <div class="section-body">
          <p class="h4 pb-4">Todo sobre el proceso participativo para la Política Nacional de Descentralización: mecanismos, plazos, etapas y más.</p>
        </div>
        <div class="my-3 d-flex justify-content-center ">
          <button class="btn btn-neutral text-nowrap text-primary border-primary bg-white mb-5" type="button"
            onclick="window.location.href='{% url 'home_app:preguntas_frecuentes' %}'">Preguntas Frecuentes
            <i class="material-symbols-outlined">
              chevron_right
            </i>
          </button>
        </div>
      </div>

      <div class="col-lg-3 mx-auto">
        <div class="section-header">
          <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Revisa nuestra documentación</p>
        </div>
        <div class="section-body">
          <p class="h4 pb-4">Si quieres tener más antecedentes para participar en la consulta, o para seguir este
            proceso, tenemos un repositorio de documentos de interés.</p>
        </div>
        <div class="my-3 d-flex justify-content-center">
          <button class="btn btn-neutral text-nowrap text-primary border-primary bg-white mb-5" type="button"
            onclick="window.location.href='{% url 'home_app:documentos' %}'">Ver Documentación
            <i class="material-symbols-outlined">
              chevron_right
            </i>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid mx-md-5 px-md-3 ">
    <p class="font-level-2 text-center text-md-left pl-md-5 ml-md-5 text-black font-weight-bold">Noticias </p>
  </div>
    <div class="container-fluid px-md-5 mx-md-5 d-none d-md-block my-md-2">
      <p class="h4 ml-md-5 pl-md-3">Últimas publicaciones:</p>
      <div class="cols-12">
        <div class="row">
          {% include "components/row_noticias.html" %}
        </div>
      </div>
    </div>
    <div class="container my-2 w-100 d-block d-md-none ">
      <p class="h4 ml-4 my-0 py-0">Últimas publicaciones:</p>
      {% include "components/carrusel_noticias.html" %}
    </div>
    <div class="my-4 d-flex justify-content-center">
      <button class="btn btn-neutral text-nowrap text-primary border-primary bg-white mb-5" type="button"
        onclick="window.location.href='{% url 'noticiasymedia_app:noticias' %}'">Ver todas las noticias
        <i class="material-symbols-outlined">
          chevron_right
        </i>
      </button>
    </div>
  </div>

</section>

{% endblock views %}

{% block scripts %}
<script>
  $(document).ready(function ()
  {
    $('#carouselExampleIndicators').carousel();
  });
</script>
{% endblock %}