{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}

<section class="container-hero">
    
    <div class="container">
        <section class="col-md-12">
            <div class="section-header mt-5 d-flex flex-column align-items-center">
                <div class="col-12 col-md-6">
                    {% include "components/desentralizacion_banner.html" %}
                </div>
                <p class="col-md-8 font-level-1 pb-md-4 text-center font-weight-bold" id="secciones">Te damos la bienvenida a ésta consulta ciudadana</p>
                <ul class="mb-md-5">
                    <li class="h4 my-3">El tiempo estimado que te tomará es de 2 minutos.</li>
                    <li class="h4">Primero te preguntaremos información demográfica con fines estadísticos.</li>
                    <li class="h4">Son 5 preguntas. La última pregunta es opcional.</li>
                    <li class="h4">Si cierras la página antes de enviar tus respuestas, éstas no se guardarán.</li>
                </ul>
            </div>

            <div class="my-3 d-flex flex-column align-items-center">
                <div class="mx-auto" >
                    {% if user.is_authenticated %}
                        {% if user.encuesta_completada %}
                            <p class="h4 text-center">Ya has contestado esta encuesta.</p>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-neutral btn-default-size text-white border-white bg-primary mb-4"
                                        type="button"
                                        onclick="window.location.href='{% url 'surveys_app:enviar_formularios' %}'">
                                    Ir a Recibir mis respuestas
                                    <i class="material-symbols-outlined">
                                    chevron_right
                                    </i>
                                </button>
                            </div>
                        {% else %}
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-neutral btn-default-size text-white border-white bg-primary mb-4"
                                        type="button"
                                        onclick="window.location.href='{% url 'surveys_app:consulta_datos_usuario' %}'">
                                    Comenzar el Proceso
                                    <i class="material-symbols-outlined">
                                    chevron_right
                                    </i>
                                </button>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="col d-flex justify-content-center">
                            <button class="btn btn-neutral btn-default-size text-white border-white bg-primary mb-4"
                                    type="button" onclick="window.location.href='{% url 'users_app:user-login' %}?next={{ request.path }}'">
                                Iniciar Sesión con Clave Única
                                <i class="material-symbols-outlined">
                                chevron_right
                                </i>
                            </button>
                        </div>
                    {% endif %}

                </div>
                <div class="col-md-5 text-center mb-5">
                    {% countdown_component %}
                </div>
            </div>    
        </section>
    </div> 

    <div class="mt-md-5">
        {% include "components/logo_banner.html" %}
    </div> 

</section> 
  
{% endblock views %}
