{% extends "base/base.html" %}
{% load static %}
{% block views %}
<section class="container-fluid mt-3 mt-md-5">
    <div  class="d-flex justify-content-center mb-md-5">
        <div class="col-md-8">
            <p class="h1 font-weight-bold my-4 my-md-5 text-black">Política de Privacidad de Sitios Electrónicos SUBDERE</p>

            <p class="h4 my-md-3 text-black">Conforme a lo dispuesto en el  <strong>artículo 19 Nº 4 de la Constitución Política de la República</strong> 
                y a las normas pertinentes de la <strong>Ley Nº 19.628 </strong>sobre protección de la vida privada y sus modificaciones posteriores, 
                el tratamiento de datos personales que se realiza en <a class="text-primary" href="/">hablemosdedescentralizacion.cl</a> de 
                <strong>SUBDERE</strong>, se rige por las siguientes reglas:
            </p>

            <ol>
                <li class="h4 my-4 my-md-5"><strong>SUBDERE </strong>asegura la confidencialidad de los datos personales de las personas usuarias que se registren como tales en el sitio Web 
                    <a class="text-primary" href="/">hablemosdedescentralizacion.cl</a> mediante el o los formulario(s) establecido(s) para esos efectos. Sin perjuicio de sus facultades legales
                </li>
                <li class="h4 my-4 my-md-5"><strong>SUBDERE </strong>sólo efectuará tratamiento de datos personales respecto de aquéllos que han sido entregados voluntariamente por las 
                    Personas Usuarias en el referido formulario. <br class="mb-4"/> Los datos personales de las Personas Usuarias serán utilizados para el cumplimiento de los fines 
                    indicados en el formulario correspondiente y siempre dentro de la competencia y atribuciones de <strong>SUBDERE.</strong>
                </li>
                <li class="h4 my-4 my-md-5"><strong>SUBDERE </strong>podrá comunicar a otros organismos del Estado, los datos personales de sus personas usuarias, conforme lo 
                    establecido al efecto en la <strong>Ley 19.628.</strong>
                </li>
                <li class="h4 my-4 my-md-5"><strong>SUBDERE</strong>, en caso de ser requerido judicialmente al efecto, procederá a comunicar los datos personales de las personas usuarias que le sean solicitados.

                </li>
                <li class="h4 my-4 my-md-5"><strong>SUBDERE </strong>podrá comunicar a terceros información estadística elaborada a partir de los datos personales de sus personas usuarias, sin el 
                    consentimiento expreso del titular, cuando de dichos datos no sea posible identificar individualmente a los titulares, de conformidad a la Ley.
                    <p class="h4 mt-md-4 text-black mb-4">La Persona Usuaria podrá en todo momento ejercer los derechos otorgados por la Ley Nº 19.628 y sus modificaciones posteriores. En específico, podrá:</p>
                    <ol type="a">
                        <li class="mb-3">Solicitar información respecto de los bancos de datos de que sea responsable SUBDERE, el fundamento de su existencia, su finalidad, 
                            tipos de datos almacenados y descripción del universo de personas que comprende;</li>
                        <li class="mb-3">Solicitar información sobre los datos relativos a su persona, su procedencia y destinatario, el propósito del almacenamiento y la 
                            individualización de las personas u organismos a los cuales sus datos son transmitidos regularmente;</li>
                        <li class="mb-3">Solicitar se modifiquen sus datos personales cuando ellos no sean correctos o no estén actualizados, si fuere procedente;</li>
                        <li class="mb-3">Solicitar la eliminación o cancelación de los datos entregados cuando así lo desee, en tanto fuere procedente;</li>
                        <li class="mb-3">Solicitar, de conformidad con lo dispuesto en la Ley 19.628, copia del registro alterado en la parte pertinente, si fuere del caso;</li>
                        <li class="mb-3">Oponerse a que sus datos personales sean utilizados para fines estadísticos.</li>
                    </ol>
                </li>
            </ol>

            <p class="h4 my-4 my-md-3 text-black">Para ejercer sus derechos la Persona Usuaria podrá 
                dirigirse a <strong class="text-secondary">descentralizacion@subdere.gov.cl</strong> indicando claramente su 
                solicitud.
            </p>

            <p class="h4 my-4 my-md-3 text-black">Respecto de la recolección y tratamiento de datos realizado mediante mecanismos automatizados con el 
                objeto de generar registros de actividad de los visitantes y registros de audiencia, <strong>SUBDERE </strong>sólo 
                podrá utilizar dicha información para la elaboración de informes que cumplan con los objetivos señalados.
            </p>

            <p class="h4 my-4 my-md-3 text-black">En ningún caso podrá realizar operaciones que impliquen asociar dicha información a alguna 
                persona usuaria identificado o identificable.
            </p>

            <p class="h4 my-4 my-md-3 text-black">Para efectos de la presente <strong>“Política de Privacidad”</strong>, se entiende por Persona Usuaria a la 
                persona que voluntariamente se registre en <a class="text-primary" href="/">hablemosdedescentralizacion.cl</a> en los formularios 
                especialmente establecidos al efecto; o aquella que en virtud de funciones prestadas a otros 
                servicios públicos que se relacionan con <strong>SUBDERE </strong>haya sido registrada por la propia 
                <strong>SUBDERE </strong>en <a class="text-primary" href="/">hablemosdedescentralizacion.cl</a> a solicitud de dicho servicio público.</p>
            
            <p class="h4 my-4 my-md-3 text-black">En tanto, Visitante es aquella persona que accede libremente a la información disponible en 
                <a class="text-primary" href="/">hablemosdedescentralizacion.cl</a> sin necesidad de registrarse previamente.</p>
        </div>
    </div>
</section>
{% include 'components/boton-scroll.html' %}
{% endblock views %}
