{% extends "base/base.html" %}
{% load static %}
{% block views %}
<div>
    <div  class="d-flex justify-content-center">
        <div class="col-md-8">
            <p>Componente breadcrums</p>
            <div class="section-header mt-5">
            <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold" id="secciones">Preguntas Frecuentes</p>
            </div>
            <div class="section-body">
            <p class="h4 pb-4">Resolvemos tus dudas sobre el proceso participativo para la Política Nacional 
                de Descentralización: mecanismos, plazos, etapas y más.</p>
            </div>
            <div class="my-5 col-md-6">
                {% include "components/countdown.html" %}  
            </div>
        </div>
    </div>
    
    <div>
        {% include "components/logo_banner.html"%}
    </div>

    <div  class="d-flex justify-content-center">
        <div class="col-md-8">
            <div id="colapsables_container">
                <div>
                    {% include "components/colapsable.html"%}
                </div>
            </div>
            <div>
                {% include "components/invitacion.html"%}
            </div>
        </div>     
    </div>

</div>
{% endblock views %}