{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}

<section class="container-fluid mt-5">

    <div  class="d-flex justify-content-center">
        <div class="col-md-8">
            
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-5">
                  <li class="breadcrumb-item text-primary"><a href="/" class="text-primary">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Proceso Participativo</li>
                </ol>
            </nav>

            <div class="section-header mt-5">
            <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold" id="secciones">Proceso Participativo</p>
            </div>
            <div class="section-body">
            <p class="h4 pb-4">Además de esta consulta ciudadana, el proceso para la Política Nacional de Descentralización 
                considera otras acciones participativas paralelas. Conócelas acá:</p>
            </div>
            <div class="my-5 col-md-6">
                {% countdown_component %}
            </div>
        </div>
    </div>
    
    <div class="my-4">
        {% include "components/logo_banner.html"%}
    </div>

    <div class="container my-md-5">
        <div class="row align-items-end">
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-4 text-black">Dialogos regionales para la Política Nacional de Descentralización</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 mb-md-0 text-body h-50">Se realizarán en las 16 regiones del país, convocando a autoridades nacionales, regionales y locales, mundo académico, sector público, sociedad civil organizada - representada por los presidentes/as de los COSOC municipales y regionales - y otras representaciones relevantes de la cada región.</p>
                </div>
                <div class="d-flex flex-column align-items-center w-100">
                    <button class="btn btn-neutral btn-lg w-50 text-nowrap text-primary border-primary bg-white my-5 mt-auto" type="button" onclick="window.location.href='/documentos/#documentos-documentosnormativos'">
                        Ver Documentos
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </button>
                </div>
            </div>
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-5 text-black mt-md-2">Seminarios Virtuales</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 text-body h-50">Se realizarán cinco encuentros de manera telemática, se convocará a centros de pensamiento, asociaciones gremiales de funcionarios y funcionarias de gobiernos regionales y municipales, funcionarios y funcionarias del nivel central, organizaciones no gubernamentales, y organismos internacionales.</p>
                </div>
                <div class="d-flex flex-column align-items-center w-100">
                    <button class="btn btn-neutral btn-lg w-50 text-nowrap text-primary border-primary bg-white my-5 mt-auto" type="button" onclick="window.location.href='/documentos/#documentos-estudios'">
                        Ver Documentos
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </button>
                </div>
            </div>
            <div class="col-md-4 px-3">
                <div class="section-header">
                    <p class="font-level-2 text-center pb-5 text-black">Participación en los Consejos de Sociedad Civil (COSOC)</p>
                </div>
                <div class="section-body">
                    <p class="h4 text-left pb-4 text-body h-50">En encuentros similares a los Diálogos Regionales, se convoca a representantes de los COSOC de los gobiernos regionales y municipalidades a ser parte de este proceso en sesiones extraordinarias para abordar los contenidos de la Política, y recoger sus aportes y miradas.</p>
                </div>
                <div class="d-flex flex-column align-items-center w-100">
                    <button class="btn btn-neutral btn-lg w-50 text-nowrap text-primary border-primary bg-white my-5 mt-auto" type="button" onclick="window.location.href='/documentos/#documentos-instrumentosparticipativos'">
                        Ver Documentos
                        <i class="material-symbols-outlined">
                            chevron_right
                            </i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 my-4">
            {% include "components/invitacion.html"%}
        </div>
    </div>
</div>
</section>

{% endblock views %}