{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}

<section class="container-fluid mt-5">

    <div  class="d-flex justify-content-center">
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-5">
                  <li class="breadcrumb-item text-primary"><a href="/" class="text-primary">Inicio</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Proceso Participativo</li>
                </ol>
            </nav>

            <div class="section-header mt-5">
            <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold" id="secciones">Proceso Participativo</p>
            </div>
            <div class="section-body">
            <p class="h4 pb-4">El proceso de desarrollo de la Política Nacional de Descentralización considera cuatro instancias de participación ciudadana. Conoce en qué consiste cada una y a quiénes van dirigidas.</p>
            </div>
            <div class="my-5 col-md-6">
                {% countdown_component %}
            </div>
        </div>
    </div>
    
    <div class="my-4">
        {% include "components/logo_banner.html"%}
    </div>

    <div class="container my-md-5">
<!-- aqui estan las columnas -->
        <div class="d-flex justify-content-center">
            <div class="parent col-lg-10 align-items-start">
                
                <div class="div1 section-header">
                    <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Diálogos regionales para la Política Nacional de Descentralización</p>
                    <p class="h4 text-left mb-md-0 text-body mt-4">Se realizarán en las 16 regiones del país, convocando a autoridades nacionales, regionales y locales, mundo académico, sector público, sociedad civil organizada -a través de los COSOC municipales y de gobiernos regionales- y otras representaciones relevantes de cada región.</p>
                </div>
                <div class="div2 d-flex flex-column align-items-center w-100 mt-4">
                    <button class="btn btn-neutral btn-lg text-nowrap text-primary border-primary bg-white" type="button" onclick="window.location.href='{% url 'home_app:documentos' %}#Documentos Normativos'">
                        Ver documentos relacionados
                        <i class="material-symbols-outlined ml-1">
                            chevron_right
                        </i>
                    </button>
                </div>
                <div class="div3 section-header mt-5 mt-lg-0">
                    <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Seminarios Virtuales</p>
                    <p class="h4 text-left mb-md-0 text-body mt-4">Se realizarán cinco encuentros de manera telemática, convocando a centros de pensamiento, asociaciones gremiales de funcionarios y funcionarias de gobiernos regionales y municipales, funcionarios y funcionarias del nivel central, organizaciones no gubernamentales y organismos internacionales.</p>
                </div>
                <div class="div4 d-flex flex-column align-items-center w-100 mt-4">
                    <button class="btn btn-neutral btn-lg text-nowrap text-primary border-primary bg-white" type="button" onclick="window.location.href='{% url 'home_app:documentos' %}#Seminarios Virtuales'">
                        Ver documentos relacionados
                        <i class="material-symbols-outlined ml-1">
                            chevron_right
                        </i>
                    </button>
                </div>
                <div class="div5 section-header mt-5 mt-lg-0">
                    <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Participación en los Consejos de Sociedad Civil (COSOC)</p>
                    <p class="h4 text-left mb-md-0 text-body mt-4">En encuentros similares a los Diálogos Regionales, se convoca a representantes de los COSOC de los gobiernos regionales y municipalidades para participar a través de sesiones extraordinarias, donde puedan entregar sus aportes y miradas junto con abordar los contenidos de la Política.</p>
                </div>
                <div class="div6 d-flex flex-column align-items-center w-100 mt-4">
                    <button class="btn btn-neutral btn-lg text-nowrap text-primary border-primary bg-white" type="button" onclick="window.location.href='{% url 'home_app:documentos' %}#Participación de los Consejos de la Sociedad Civil (COSOC)'">
                        Ver documentos relacionados
                        <i class="material-symbols-outlined ml-1">
                            chevron_right
                            </i>
                    </button>
                </div>  
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-md-10">
                {% include "components/invitacion.html"%}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock views %}