{% extends "home/base_home.html" %}
{% load static %}
{% block content %}
{%include "modules/navbar.html" %}
<section class='landing'>
  <div class='title d-flex justify-content-center mt-5'>
    <div class="line">
      <p class="h1 font-weight-bold">Banco de Proyectos</p>
    </div>
  </div>
  <section class="m-5">
    <div class="text-center m-3 h-4 text-muted"> Acceder al buscador de proyectos escribiendo palabra clave</div>
    <form class="search mx-auto" method="GET" action="{% url 'projects_app:project-list' %}" id="search-form">
      <input class="form-control" type="text" name="search_query" id="search_query" placeholder="Buscar proyecto" aria-label="Buscar proyectos"
        aria-describedby="searchAction" />
      <div class="search-action">
        <button class="btn btn-outline-search" id="searchAction" type="submit"><i
            class="icon cl cl-search"></i></button>
      </div>
    </form>
  </section>
  <div class="container-category-landing">
    <p class="font-level-2 text-center m-3 font-weight-bold">Categorías principales</p>
    <div class="category-landing cols-12 row m-5 text-center">
      <div class="col-3 m-2">
        <a class="btn btn-outline-primary my-1 rounded-circle text-decoration-none font-weight-bold font-level-5"
          href="{% url 'projects_app:project-list' %}?program=1">PMU</a>
        <br>
        <span>Programa Mejoramiento Urbano</span>
      </div>
      <div class="col-3 m-2">
        <a class="btn btn-outline-primary my-1  rounded-circle text-decoration-none font-weight-bold font-level-6"
          href="{% url 'projects_app:project-list' %}?program=2">PMB</a>
        <br>
        <span>Programa Mejoramiento de Barrios</span>
      </div>
      <div class="col-3 m-2">
        <a class="btn btn-outline-primary rounded-circle btn-md font-weight-bold px-3"
          href="{% url 'projects_app:project-list' %}?show_all=true">
          <span class="cl cl-list font-level-3 mx-2 my-2 "><span /></a>
        <br>
        <span>Ver todos los proyectos</span>
      </div>
    </div>
  </div>
  <section class="section-card">
    <div class="container-description">
      <p class="font-level-1 text-left">¿Qué es el Banco de Proyectos?</p>
      <p class="text-description">El <span>Banco de Proyectos</span> de la Subsecretaría de Desarrollo Regional y
        Administrativo es un <span></span>repositorio de proyectos ya ejecutados por distintas municipalidades a lo
        largo del país, que tiene por objetivo poner a
        disposición diversas iniciativas y su documentación asociada al momento de postular a los Programas de
        Mejoramiento Urbano (PMU) y de Mejoramiento de Barrios (PMB) de esta Subsecretaría.
        Toda la información en este repositorio es referencial, siendo responsabilidad de la unidad ejecutora revisar y
        actualizar sus valores y aspectos normativos</p>
    </div>
    <div class="container-cards">
      <div class="cards cols-12 row">
        <div class="col-3 m-4">
          <div class="card-ilus">
            <div class="group">
              <div class="circle">
                <img src="{% static 'images/Trabajador_computador_2.png'%}" class="ilustra-1" />
              </div>
            </div>
            <div class="card-text-landing text-center">
              <span class="font-level-4 font-weight-bolder">Para personas encargadas de Programas Mejoramiento Urbano y
                de Barrios</>
                <p class="font-level-6 my-2">Dirigido a todo profesional municipal encargado de la formulación de
                  proyectos que se
                  enmarquen en los programas PMU y PMB.</p>
            </div>
          </div>
        </div>
        <div class="col-3 m-4">
          <div class="card-ilus">
            <div class="group">
              <div class="circle">
                <img src="{% static 'images/Mujer_Lupa.png'%}" class="ilustra-2" />
              </div>
            </div>
            <div class="card-text-landing text-center">
              <span class="font-level-4 font-weight-bolder">Filtra información y encuentra el proyecto que se ajuste a
                tu comuna</span>
              <p class="font-level-6 my-2">Podrás filtrar proyectos por tipo de programa, revisar antecedentes y
                descargar
                documentación referencial para postular proyectos adecuados a la realidad de tu comuna.</p>
            </div>
          </div>
        </div>
        <div class="col-3 m-4">
          <div class="card-ilus">
            <div class="group">
              <div class="circle">
                <img src="{% static 'images/Trabajador_computador.png'%}" class="ilustra-3" />
              </div>
            </div>
            <div class="card-text-landing text-center">
              <span class="font-level-4 font-weight-bolder">Entregamos información referencial para la realización de
                proyectos</span>
              <p class="font-level-6 my-2">Encontrarás información referencial detallada de proyectos como: planos,
                especificaciones,
                presupuestos, e información referencial para su elaboración.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-map">
      <p class="font-level-1 text-center font-weight-bold">¿Quiénes somos?</p>
      <p class="text-end">El Banco de Proyectos es una iniciativa directa de la Subsecretaría de Desarrollo Regional y
        Administrativo, cuya información está en permanente actualización.</p>
      <div class="card-map">
        <img src="{% static 'images/aplicacion_web_v2-01_0.png'%}" class="map" alt="map" />
      </div>
    </div>
  </section>
</section>

{% include "modules/footer.html" %}
{% endblock content %}