## DJANGO configuration ##
# The secret key for crypto signing
SECRET_KEY='a-random-string-ideally-at-least-50-characters-long'
# Should the debug  be active? default to false
# DEBUG=False
# Tha allowed hosts for django, could be more than one, separated by commas, no spaces
# ALLOWED_HOSTS=example.com,localhost

## Database configuration, postgresql by default ##
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=database
DB_HOST=host

## Bucket configuration for media files
AWS_ACCESS_KEY_ID='your-access-key-id'
AWS_SECRET_ACCESS_KEY='your-secret-access-key'
AWS_STORAGE_BUCKET_NAME='your-bucket-name'
AWS_S3_ENDPOINT_URL='endpoint-url-for-the-bucket-service'
AWS_S3_FILE_OVERWRITE=False
AWS_DEFAULT_ACL=None

# EMAIL SETTINGS
EMAIL_USE_TLS=True
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=

# RECAPTCHA SETTINGS
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

# SENDGRID SETTINGS
SENDGRID_API_KEY=
ADMIN_EMAIL=
NOREPLY_EMAIL=

#CLAVE ÚNICA PRODUCCIÓN
CLAVE_UNICA_CLIENT_ID=
CLAVE_UNICA_CLIENT_SECRET=
CLAVE_UNICA_REDIRECT_URI=

# Las siguientes son las claves No deberian esta seteadas en produccion
#CLAVE ÚNICA DEV (SANDBOX)
CLAVE_UNICA_CLIENT_ID_DEV=
CLAVE_UNICA_CLIENT_SECRET_DEV=
CLAVE_UNICA_REDIRECT_URI_DEV=

#CLAVE ÚNICA QA
CLAVE_UNICA_CLIENT_ID_QA=
CLAVE_UNICA_CLIENT_SECRET_QA=
CLAVE_UNICA_REDIRECT_URI_QA=

#KEYCLOAK
KEYCLOAK_REALM=
KEYCLOAK_AUTH_SERVER_URL=
KEYCLOAK_SSL_REQUIRED=
KEYCLOAK_RESOURCE=
KEYCLOAK_CREDENTIALS_SECRET=
KEYCLOAK_CONFIDENTIAL_PORT=
KEYCLOAK_REDIRECT_URI=
KEYCLOAK_TOKEN_URL=
KEYCLOAK_LOGOUT_URL=

