## DJANGO configuration ##
# The secret key for crypto signing
SECRET_KEY='a-random-string-ideally-at-least-50-characters-long'
# Should the debug  be active? default to false
# DEBUG=False
# Tha allowed hosts for django, could be more than one, separated by commas, no spaces
# ALLOWED_HOSTS=example.com,localhost

## Database configuration, postgresql by default ##
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=database
DB_HOST=host

## Bucket configuration for media files
AWS_ACCESS_KEY_ID='your-access-key-id'
AWS_SECRET_ACCESS_KEY='your-secret-access-key'
AWS_STORAGE_BUCKET_NAME='your-bucket-name'
AWS_S3_ENDPOINT_URL='endpoint-url-for-the-bucket-service'
AWS_S3_FILE_OVERWRITE=False
AWS_DEFAULT_ACL=None

## Subdere en linea Database configuration (SEL)
SEL_DB_USER=user
SEL_DB_PASSWORD=password
SEL_DB_PORT=5432
SEL_DB_NAME=database
SEL_DB_HOST=host