## DJANGO configuration ##
# The secret key for crypto signing
SECRET_KEY='a-random-string-ideally-at-least-50-characters-long'
# Should the debug  be active? default to false
# DEBUG=False
# Tha allowed hosts for django, could be more than one, separated by commas, no spaces
# ALLOWED_HOSTS=example.com,localhost

## Database configuration, postgresql by default ##
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432
DB_NAME=database
DB_HOST=host

# EMAIL SETTINGS
EMAIL_USE_TLS = True
EMAIL_HOST = 
EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 
EMAIL_PORT = 

# RECAPTCHA SETTINGS
RECAPTCHA_PUBLIC_KEY = 
RECAPTCHA_PRIVATE_KEY = 

# SENDGRID SETTINGS
SENDGRID_API_KEY = 
ADMIN_EMAIL =
NOREPLY_EMAIL =

#CLAVE ÚNICA PRODUCCIÓN
CLAVE_UNICA_CLIENT_ID_PROD = 
CLAVE_UNICA_CLIENT_SECRET_PROD = 
CLAVE_UNICA_REDIRECT_URI_PROD = 

#CLAVE ÚNICA DEV (SANDBOX)
CLAVE_UNICA_CLIENT_ID_DEV = 
CLAVE_UNICA_CLIENT_SECRET_DEV = 
CLAVE_UNICA_REDIRECT_URI_DEV = 

#CLAVE ÚNICA QA
CLAVE_UNICA_CLIENT_ID_QA = 
CLAVE_UNICA_CLIENT_SECRET_QA = 
CLAVE_UNICA_REDIRECT_URI_QA = 