{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}
<section class="container-fluid my-5 px-0">
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-5">
          <li class="breadcrumb-item">
            <a href="{%  url 'home_app:index' %}" class="text-primary">Inicio</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Videos</li>
        </ol>
      </nav>

      <div class="section-header mt-5 px-0">
        <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold">
          Videos
        </p>
      </div>
      <div class="section-body my-4">
        {% countdown_component %}</div>
    </div>
  </div>
  <div class="px-0">
    {% include "components/logo_banner.html" %}
  </div>

  <!--card videos -->
  {% if multimedias %}
  <div class="cols-cards-12">
    <div class="row mx-md-1 mx-auto">
      {% include "components/card_media.html"%}
    </div>
  </div>
  {% else %}
  <!-- Mostrar el mensaje si no hay contenido multimedia registrado -->
  <div class="container my-2">
    <p class="font-level-3 text-center font-weight-bolder ">Aún no hay videos publicado</p>
  </div>
{% endif %}
    <!-- Paginación -->
<nav class="pagination-container flex-column flex-sm-row justify-content-center a11y-fonts-flex-column a11y-fonts-flex-lg-row">
  <p class="text-center">{{ multimedias.start_index }} - {{ multimedias.end_index }} de {{ multimedias.paginator.count }} videos </p>
  <ul class="pagination justify-content-center align-items-center active">
      {% if multimedias.has_previous %}
      <li class="page-item">
          <a class="page-link border-0 text-decoration-none font-level-1" href="?page={{ multimedias.previous_page_number }}">
              &lt;
          </a>
      </li>
      {% endif %}
      {% for num in multimedias.paginator.page_range %}
      {% if num == multimedias.number %}
      <li class="page-item active">
          <a class="page-link border-0 text-decoration-none" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link border-0 text-decoration-none" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if multimedias.has_next %}
      <li class="page-item">
          <a class="page-link border-0 font-level-1 text-decoration-none" href="?page={{ multimedias.next_page_number }}">
              &gt;
          </a>
      </li>
      {% endif %}
  </ul>
</nav>
  </div>
</section>
{% endblock %}