{% extends "base/base.html" %}
{% load static %}
{% block views %}
{% load countdown_tags %}
<section class="container-fluid my-5 px-0">
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb mt-0 mx-5">
          <li class="breadcrumb-item">
            <a href="{%  url 'home_app:index' %}" class="text-primary">Inicio</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Noticias</li>
        </ol>
      </nav>

      <div class="section-header mt-5">
        <p class="font-level-1 pb-4 text-md-left text-center text-black font-weight-bold">
          Noticias
        </p>
      </div>
      <div class="section-body my-4">
        {% countdown_component %}</div>
    </div>
  </div>

  <div class="px-0">
    {% include "components/logo_banner.html" %}
  </div>
  <div class="cols-12 mx-md-5 mx-lg-5 mx-xl-5 px-md-5 align-items-center">
    <div class="row mx-md-5 px-md-5">
      {% include "components/card_noticia.html"%}
    </div>
  </div>
    <!-- Paginación -->
<nav class="pagination-container flex-column flex-sm-row justify-content-center a11y-fonts-flex-column a11y-fonts-flex-lg-row">
  <p class="text-center">{{ noticias.start_index }} - {{ noticias.end_index }} de {{ noticias.paginator.count }} noticias </p>
  <ul class="pagination justify-content-center align-items-center active">
      {% if noticias.has_previous %}
      <li class="page-item">
          <a class="page-link border-0 text-decoration-none font-level-1" href="?page={{ noticias.previous_page_number }}">
              &lt;
          </a>
      </li>
      {% endif %}
      {% for num in noticias.paginator.page_range %}
      {% if num == noticias.number %}
      <li class="page-item active">
          <a class="page-link border-0 text-decoration-none" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link border-0 text-decoration-none" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if noticias.has_next %}
      <li class="page-item">
          <a class="page-link border-0 font-level-1 text-decoration-none" href="?page={{ noticias.next_page_number }}">
              &gt;
          </a>
      </li>
      {% endif %}
  </ul>
</nav>
  </div>
</section>
{% endblock %}