{% extends "base/base.html" %}
{% load static %}

{% block views %}
<div>
    <h3>Primero, queremos saber de ti:</h3>
</div>

<div>Antes de comenzar, queremos saber un poco de tí:</div>

<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        <label for="region">Región</label>
        <select id="region" name="region" required>
            <option value="">Selecciona una región</option>
            {% for region in regiones %}
                <option value="{{ region.id }}">{{ region.region }}</option>
            {% endfor %}
        </select>
        <div id="region_error" style="color: red; display: none;">
            Debes elegir una región antes de continuar.
        </div>
    </div>
    <div>
        {{ form.comuna.label_tag }} {{ form.comuna }}
        {{ form.comuna.errors }}
    </div>
    <div>
        {{ form.genero.label_tag }} {{ form.genero }}
        {{ form.genero.errors }}
    </div>
    <div>
        {{ form.edad.label_tag }} {{ form.edad }}
        {{ form.edad.errors }}
    </div>

    <div>Continúa con la siguiente pregunta sobre:</div>

    <button type="submit" value="Submit"> Valor de la Descentralización</button>
</form>


{% endblock views %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Ocultar el campo de comuna al cargar la página
    $('#id_comuna').parent().hide();

    $('#region').change(function() {
        if ($(this).val() != '') {
            // Si se selecciona una región, mostrar el campo de comuna
            $('#id_comuna').parent().show();
        } else {
            // Si no se selecciona ninguna región, ocultar el campo de comuna
            $('#id_comuna').parent().hide();
        }
    });

    $('form').submit(function(e) {
        if ($('#region').val() == '') {
            // Si el campo de región está vacío cuando se intenta enviar el formulario, mostrar el mensaje de error y evitar que el formulario se envíe
            e.preventDefault();
            $('#region_error').show();
        }
    });
});

$('#region').change(function() {
    var regionId = $(this).val();
    if (regionId != '') {
        $.getJSON('{% url "surveys_app:comunas_por_region" region_id=0 %}'.slice(0,-2) + regionId + '/', function(comunas) {
            var options = '<option value="">Selecciona una comuna</option>';
            for (var i = 0; i < comunas.length; i++) {
                options += '<option value="' + comunas[i].id + '">' + comunas[i].comuna + '</option>';
            }
            $('#id_comuna').html(options);
            $('#id_comuna').parent().show();
        });
    } else {
        $('#id_comuna').parent().hide();
    }
});

// Almacena los datos del formulario en sessionStorage cuando el usuario envía el formulario
$('form').submit(function() {
    var form_data = $(this).serializeArray();
    $.each(form_data, function(key, input) {
        sessionStorage.setItem(input.name, input.value);
    });
});

// Recupera los datos del formulario de sessionStorage cuando se carga la página
$(document).ready(function() {
    var form_data = $('form').serializeArray();
    $.each(form_data, function(key, input) {
        if (sessionStorage.getItem(input.name)) {
            $('[name="' + input.name + '"]').val(sessionStorage.getItem(input.name));
        }
    });
});

</script>

{% endblock scripts %}