{% extends "base/base.html" %}
{% load static %}
{% block views %}
<section class='container'>
    <div class="cols-12 my-5 mx-3">
    <div class="row justify-content-center">
        <div class="col-md-6 mx-md-auto my-2">
        {% include "components/desentralizacion_banner.html" %}
      </div>
      <div class="col-lg-10">
        <p class="font-level-1  text-center my-2">¡Gracias por enviarnos tus respuestas!</p>
        <div class="text-center my-3">
          <img src="{%  static 'img/step-complete.svg' %}" alt="logo success" class="w-20" />
        </div>
      </div>
      <div class="col-lg-9 my-3">
        <p class="font-level-3 text-md-left text-center">Enviaste y guardaste tus respuestas con éxito.<p>
        <p class="font-level-4 text-md-left text-center">Recuerda que no puedes volver a responder este cuestionario.</p>
        
        <p class="font-level-4 text-left">Si quieres una copia de tus respuestas, escribe tu correo electrónico y las
          recibirás en unos minutos.</p>
​
        <form method="post" action="{% url 'surveys_app:enviar_formularios' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="recibir_resultados" name="recibir_resultados" {% if form.recibir_resultados.value %}checked{% endif %}>
                <label class="form-check-label" for="recibir_resultados">También quiero recibir los resultados finales del proceso.</label>
            </div>
​
            <div class="col-md-6 mx-md-auto">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Recibir mis respuestas</button>
                <button type="submit" class="btn btn-outline-primary btn-lg btn-block my-4">
                  <a type="button" href="/" class="btn btn-outline-primary btn-lg btn-block my-4">Volver a la pagina principal <i class="material-symbols-outlined">
                    house
                    </i></a>
                </button>
            </div>
        </form>
​
      </div>
    </div>
  </div>
​
​
</section>
<div class="my-3 col-md-12 mw-100 mx-0">
  {% include "components/logo_banner.html" %}
</div>
​
{% endblock views %}