{% extends "base/base.html" %}
{% load static %}
{% block views %}
<section class='container'>
    <div class="cols-12 my-5 mx-3">
    <div class="row justify-content-center">
        <div class="col-md-6 mx-md-auto my-2">
        {% include "components/desentralizacion_banner.html" %}
      </div>
      <div class="col-lg-10">
        <p class="font-level-1  text-center my-2">¡Gracias por participar en la consulta!</p>
        <div class="text-center my-3">
          <img src="{%  static 'img/step-complete.svg' %}" alt="logo success" class="w-20" />
        </div>
      </div>
      <div class="col-lg-9 my-3">
        <p class="font-level-3 text-md-left text-center">Enviaste y guardaste tus respuestas con éxito.<p>
        <p class="font-level-4 text-md-left text-center">Recuerda que no puedes volver a responder este cuestionario.</p>
        
        <p class="font-level-4  text-justify text-left">Si quieres una copia de tus respuestas, escribe tu correo electrónico y las recibirás al cierre del proceso.</p>

          <form id="my-form" method="post" action="{% url 'surveys_app:enviar_formularios' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input text-xl w-20" id="recibir_resultados" name="recibir_resultados" {% if form.recibir_resultados.value %}checked{% endif %}>
              <label class="form-check-label font-level-7 font-weight-light" for="recibir_resultados">También quiero recibir los resultados finales del proceso.</label>
            </div>

            <div class="col-md-6 mx-md-auto px-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit-button">
                <span id="button-text">Recibir mis respuestas</span>
                <span id="response-text" style="display: none;">Recibirás un correo electrónico con <br>tus respuestas al cierre del proceso.</span>
              </button>
              <a type="button" href="{% url 'home_app:index' %}"" id='btn-back' class="btn btn-outline-primary text-center btn-lg btn-block my-4">Volver a la página principal <img src="{% static 'img/house.svg' %}" class="ml-3" id="icon-house"/></a>
            </div>
          </form>

      </div>
    </div>
  </div>

</section>
<div class="my-3 col-md-12 mw-100 mx-0 px-0">
  {% include "components/logo_banner.html" %}
</div>

{% endblock views %}

{% block scripts %}

<script>
  document.getElementById('submit-button').addEventListener('click', function(event) {
    event.preventDefault(); 
    
    // mandnado el data con  AJAX
    var form = document.getElementById('my-form');
    var formData = new FormData(form);
    
    var xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action, true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onload = function() {
      if (xhr.status === 200) {
        document.getElementById('button-text').style.display = 'none';
        document.getElementById('response-text').style.display = 'inline';
        document.getElementById('submit-button').classList.remove('btn-primary');
        document.getElementById('submit-button').classList.add('btn-email');
      } else {
        // Handle error response
      }
    };
    xhr.send(formData);
  });
</script>

{% endblock scripts %}


