{% extends "base/base.html" %}
{% load static %}

{% block views %}
<section class="container">
  <div class="cols-12 my-0 mx-3">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-md-auto my-2">
        {% include "components/desentralizacion_banner.html" %}
      </div>
      <div class="col-lg-9 d-flex justify-content-between my-2">
        <button type="button" class="btn btn-pill-primary  text-nowrap"
          onclick="window.location.href='{% url 'surveys_app:pregunta_cuatro' %}'"><i
            class="material-symbols-outlined">
            chevron_left
          </i>
          Ir atrás</button>
          
          <button type="button" class=" btn btn-pill-primary text-primary text-nowrap"
            onclick="window.location.href='{% url 'surveys_app:pregunta_seis' %}'">Siguiente<i
            class="material-symbols-outlined">
            chevron_right
            </i></button>
          
      </div>
      <div class="col-lg-10">
        <p class="font-level-1  text-center my-3">Pregunta 5 de 7:</p>
      </div>
      <div class='col-lg-9 my-2 mx-1'>
          <p class="font-level-5 mx-2">Para finalizar, a partir de las  respuestas dadas anteriormente:
          </p>
          <p class="font-level-5 text-justify mx-2">
            ¿Qué tema, iniciativa o aspecto profundizarías o agregarías, considerando el vínculo entre descentralización y tu vida personal y en comunidad?<br>
            <br>
            Responder esta pregunta es opcional.
          </p>
      </div>
      <div class="col-12 col-md-8 col-lg-9 mx-5 justify-content-center">
        <form method="post" class="form col-12" action=" {% url 'surveys_app:pregunta_cinco' %}">
          {% csrf_token %}

          <!-- Muestra input para el formulario -->
          <div class="form-group-textarea">
            {{ form.texto_respuesta.label_tag }}
            {{ form.texto_respuesta }}
            <div style="text-align:right"><span id="message-word-count" style="color:gray">0 / 500 caracteres.</span>
            </div>
            {{ form.errors }}
          </div>

          <!-- Botón para el envío del formulario completo -->
          <div class="d-flex flex-column my-3 px-0 align-content-center">
            <p class="font-level-6  text-md-center font-weight-light ">Continúa para guardar y enviar tus respuestas.</p>
            <button type="submit" class="btn btn-primary btn-lg btn-block align-self-center col-md-6 text-nowrap">Enviar mis respuestas <i
                class="material-symbols-outlined px-2">
                arrow_forward_ios
              </i></button>
        </div>


        </form>
      </div>
      
    </div>
  </div>
</section>
<div class="my-3 col-md-12 mw-100 mx-0 px-0">
{% include "components/logo_banner.html" %}
</div>

{% include "components/modal_salida_encuesta.html" %}

{% endblock views %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    // Identificar todos los enlaces del navbar y footer
    $('nav a, footer a').on('click', function(e) {
      e.preventDefault();

      // Guardar el href del enlace en el botón de confirmación del modal
      $('#confirmExitButton').attr('href', $(this).attr('href'));

      // Mostrar el modal
      $('#exitSurveyModal').modal('show');
    });
  });

</script>

<script>
    function countCharacters() {
        const messageInput = document.getElementById("id_texto_respuesta");
        const charCountElement = document.getElementById("message-word-count");

        const message = messageInput.value;
        const charCount = message.length;

        charCountElement.textContent = `${charCount} / 500 caracteres.`;

        if (charCount >= 500) {
            charCountElement.style.color = "red";
        } else {
            charCountElement.style.color = "gray";
        }
    }

    // This will run the function when the page loads
    countCharacters();

    document.getElementById("id_texto_respuesta").addEventListener('input', countCharacters);
</script>

{% endblock scripts %}
