{% extends "base/base.html" %}
{% load static %}

{% block views %}

<section class="container">
  <div class="cols-12 my-0 mx-3">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-md-auto my-2">
        {% include "components/desentralizacion_banner.html" %}
      </div>
      <div class="col-lg-9 d-flex justify-content-between my-2">
        <button type="button" class=" btn btn-pill-primary  text-nowrap"
          onclick="window.location.href='{% url 'surveys_app:pregunta_dos' %}'"><i class="material-symbols-outlined">
            chevron_left
          </i>Ir atrás</button>
        {% if iniciativa_1_guardada %}
          <button type="button" class=" btn btn-pill-primary  text-nowrap"
            onclick="window.location.href='{% url 'surveys_app:pregunta_cuatro' %}'">Siguiente<i
              class="material-symbols-outlined">
              chevron_right
            </i></button>
        {% endif %}
      </div>
      <div class="col-lg-10">
        <p class="font-level-1  text-center my-3">Pregunta 3 de 5:</p>
      </div>
      <div class='col-lg-9 my-2'>
        <p class="font-level-4 text-justify">Te presentamos 5 de las iniciativas que podrían ser incluidas dentro
          de la Política Nacional de Descentralización. </p>
          <div class='contianer my-4 my-md-5'>
        <lu>
          <p class="font-level-6 text-justify">Ordénalas de mayor a menor importancia considerando
            que:</p>
          <li class=" font-level-6 ml-3 ">1 es la más importante</li>
          <li class="font-level-6 ml-3">5 es la menos importante.</li>
        </lu>
        <p id="frase" class="font-level-6 my-4">Elige cuál enunciado ocupa el lugar:<br><strong class="font-level-2 mt-3"> 1 de importancia.</strong></p>
      </div>
    </div>
      <div class="col-12 col-md-8 col-lg-9 mx-5 my-2 justify-content-center ">
        <form method="post" action="{% url 'surveys_app:pregunta_tres' %}">
          {% csrf_token %}
          
          {% for iniciativa in form %}
              <div class="my-2 w-100">
                  <button type="button" class="iniciativa w-100 d-flex flex-row  justify-content-between border border-primary border-3"
                  id="iniciativa_{{ forloop.counter }}">
                  <div class="iniciativa-text text-primary m-4 text-left">{{ iniciativa.help_text }}</div>
                  <div class="iniciativa-check h1 text-font-weight-bold  mx-3 text-dark  justify-content-end align-self-center">-</div>
                  </button>
                  <input type="hidden" name="iniciativa_{{ forloop.counter }}" id="valor_iniciativa_{{ forloop.counter }}" value="{{ iniciativa.value|default:'' }}">
              </div>
          {% endfor %}
          
          <!-- Muestra errores del campo valor -->
          {% if form.non_field_errors %}
          <!-- Muestra el mensaje de error específico -->
          <p>{{ form.non_field_errors }}</p>
          {% endif %}


            <div>
              <!-- Botón para reiniciar selección -->
              <div class="d-flex my-4 mx-2">  
              <button type="button" id="reiniciar"   class="btn btn-outline-secondary btn-lg rounded text-decoration-none" style="display: none;">Limpiar ranking <i class="material-symbols-outlined">
                delete
                </i></button>
            </div>
            <div class="col-md-6 mx-md-auto px-0">
            <p class="font-level-6 text-md-center font-weight-light ">Continúa con la siguiente pregunta sobre:</p>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Inclusión de temáticas <i class="material-symbols-outlined px-3">
                arrow_forward_ios
              </i></button>
            </div>
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</section>
<div class="my-3 col-md-12 mw-100 mx-0">
  {% include "components/logo_banner.html" %}
</div>
{% endblock views %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function ()
  {
    var prioridad = 1;
    var seleccionados = {};

    $('.iniciativa').on('click', function ()
    {
      var iniciativaId = $(this).attr('id');

      if (!$(this).prop("disabled"))
      {
        // Marcamos la iniciativa como seleccionada
        $(this).prop('disabled', true);

        // Cambiamos el contenido del div de verificación
        $(this).find('.iniciativa-check').text(prioridad);

        // Guardamos la prioridad en un objeto
        seleccionados[ iniciativaId ] = prioridad;

        // Cambiamos el valor del campo oculto asociado
        $('input[name=' + iniciativaId + ']').val(prioridad);

        // Cambiamos el texto de la frase
        prioridad++;
        if (prioridad <= 5)
        {
          $('#frase').html('Elige cuál enunciado ocupa el lugar :<br> <strong  class="font-level-2 ml-2 mt-3">' + prioridad + ' de importancia.</strong> ');
        }

        // Mostramos el botón de reinicio si todas las iniciativas tienen una prioridad
        if (Object.keys(seleccionados).length === 5)
        {
          $('#reiniciar').show();
        }
      }
    });

    $('#reiniciar').on('click', function ()
    {
      $('.iniciativa').prop('disabled', false);
      $('.iniciativa-check').text('-');
      $('input[name=iniciativa_1]').val('');
      $('input[name=iniciativa_2]').val('');
      $('input[name=iniciativa_3]').val('');
      $('input[name=iniciativa_4]').val('');
      $('input[name=iniciativa_5]').val('');
      prioridad = 1;
      seleccionados = {};
      $('#frase').html('Elige cuál enunciado ocupa el lugar :<br> <strong  class="font-level-2 ml-2 mt-3">' + prioridad + ' de importancia.</strong> ');
      $('#reiniciar').hide();
    });

    // Función para establecer el estado inicial
  function setInitialState(id, prioridad) {
    // Si el valor es no nulo, establecemos la prioridad y desactivamos el botón
    if (prioridad) {
      $('#' + id).prop('disabled', true);
      $('#' + id).find('.iniciativa-check').text(prioridad);
      seleccionados[id] = prioridad;
      prioridad++;
      if (prioridad <= 5) {
        $('#frase').html('Elige cuál enunciado ocupa el lugar :<br> <strong  class="font-level-2 ml-2 mt-3">' + prioridad + ' de importancia.</strong> ');
      }
      if (Object.keys(seleccionados).length === 5) {
        $('#reiniciar').show();
      }
    }
  }

  // Llamamos a esta función para cada iniciativa
  setInitialState('iniciativa_1', $('#valor_iniciativa_1').val());
  setInitialState('iniciativa_2', $('#valor_iniciativa_2').val());
  setInitialState('iniciativa_3', $('#valor_iniciativa_3').val());
  setInitialState('iniciativa_4', $('#valor_iniciativa_4').val());
  setInitialState('iniciativa_5', $('#valor_iniciativa_5').val());

  });
</script>

{% endblock scripts %}