{% extends "base/base.html" %}
{% load static %}

{% block views %}
<div>A continuación, se presentan algunas afirmaciones en torno al impacto de la descentralización en las personas y
    comunidades. <br> En su opinión, ¿qué importancia les otorgaría usted? <br> Por favor ordénelas, considerando que
    1 es la más importante, y 4 es la menos importante.</div>

<!-- Divs para cada propuesta -->
<div id="propuesta_1" class="propuesta" data-id="1">{{ form.propuesta_1.help_text }}</div>
<div id="propuesta_2" class="propuesta" data-id="2">{{ form.propuesta_2.help_text }}</div>
<div id="propuesta_3" class="propuesta" data-id="3">{{ form.propuesta_3.help_text }}</div>
<div id="propuesta_4" class="propuesta" data-id="4">{{ form.propuesta_4.help_text }}</div>

<!-- Botón para reiniciar selección -->
<button id="reiniciar">Reiniciar</button>

<!-- Botón para continuar -->
<button id="continuar">Continuar</button>

{% endblock views %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var prioridad = 1;
    var seleccionados = {};

    $('.propuesta').on('click', function() {
        var propuestaId = $(this).data('id');

        // Si la propuesta ya ha sido seleccionada, la ignoramos
        if ($(this).hasClass('seleccionada')) {
            return;
        }

        // Marcamos la propuesta como seleccionada y guardamos la prioridad
        $(this).addClass('seleccionada').append('<span> Prioridad: ' + prioridad + '</span>');
        seleccionados['propuesta_' + propuestaId] = prioridad;

        prioridad++;
    });

    $('#reiniciar').on('click', function() {
        $('.propuesta').removeClass('seleccionada').find('span').remove();
        prioridad = 1;
        seleccionados = {};
    });

    $('#continuar').on('click', function() {
        axios({
            method: 'post',
            url: '{% url 'surveys_app:pregunta_dos' %}',
            data: seleccionados,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(function(response) {
            window.location.href = '{% url 'surveys_app:pregunta_tres' %}';
        })
        .catch(function(error) {
            console.log(error);
        });
    });
});
</script>

{% endblock scripts %}

