{% extends "base/base.html" %}
{% load static %}

{% block views %}

<div>
  <button type="button" onclick="window.location.href='{% url 'surveys_app:pregunta_cuatro' %}'">Ir atrás</button>
</div>

<div>Para finalizar, a partir de las respuestas dadas anteriormente,<br>
  ¿qué tema, iniciativa o aspecto profundizaría o agregaría, considerando el vínculo entre descentralización y su
  vida personal y en comunidad?<br>
  Esta pregunta es opcional.</div>

<form method="post" action="{% url 'surveys_app:pregunta_cinco' %}">
  {% csrf_token %}

  {% if valor_guardado %}
    <!-- Muestra los valores guardados si ya contestó la encuesta -->
    <div><input type="text" name="valor" value="{{ valor_guardado }}" readonly></div>
    <div>Continua para enviar tus respuestas.</div>
    <div>
      <button type="button" onclick="window.location.href='{% url 'surveys_app:enviar_formularios' %}'">Enviar mis respuestas</button>
    </div>
  {% else %}
    <!-- Muestra input para el formulario -->
    <div>{{ form.texto_respuesta }}</div>
    <div><span id="message-word-count" style="color:gray">0 / 250 palabras.</span></div>
    <div>{{ form.errors }}</div>
    <!-- Botón para el envío del formulario completo -->
    <div>Continua para guardar y enviar tus respuestas.</div>
    <div>
    <button type="submit">Enviar mis respuestas</button>
    </div>

  {% endif %}

</form>

{% endblock views %}

{% block scripts %}

<script>
    function countWords() {
        const messageInput = document.getElementById("id_texto_respuesta");
        const wordCountElement = document.getElementById("message-word-count");

        const message = messageInput.value;
        const wordCount = message.trim().split(/\s+/).length;
        wordCountElement.textContent = `${wordCount} / 250 palabras.`;
    }

    // Agregamos el "event listener"
    document.getElementById("id_texto_respuesta").addEventListener('input', countWords);
</script>

{% endblock scripts %}