{% extends "base/base.html" %}
{% load static %}

{% block views %}
<div>
  <button type="button" onclick="window.location.href='{% url 'surveys_app:pregunta_tres' %}'">Ir atrás</button>
</div>
<div>
  <button type="button" onclick="window.location.href='{% url 'surveys_app:pregunta_cinco' %}'">Siguiente</button>
</div>
<div><h3>Pregunta 4 de 5:</h3></div>
<div>En su opinión,<br>¿Qué tan importante es incluir las siguientes temáticas de forma transversal en la Política
    Nacional de Descentralización?</div>

<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.tematica_1.label_tag }}
        {{ form.tematica_1 }}
        {{ form.tematica_1.errors }}
    </div>
    <div>
        {{ form.tematica_2.label_tag }}
        {{ form.tematica_2 }}
        {{ form.tematica_2.errors }}
    </div>
    <div>
        {{ form.tematica_3.label_tag }}
        {{ form.tematica_3 }}
        {{ form.tematica_3.errors }}
    </div>
    <div>
        {{ form.tematica_4.label_tag }}
        {{ form.tematica_4 }}
        {{ form.tematica_4.errors }}
    </div>
    <div>
        {{ form.tematica_5.label_tag }}
        {{ form.tematica_5 }}
        {{ form.tematica_5.errors }}
    </div>

    <input type="submit" value="Submit">
</form>


{% endblock views %}


{% block scripts %}
{% endblock scripts %}

