{% load static %}
{% load cache %}

<form class="filter-form" method="get" action="{% url 'projects_app:project-list' %}?{{ request.GET.urlencode }}">
  {% csrf_token %}
  <div class="filter">
    <div class="filter-head">
      <p class="font-level-2 my-1">Filtrar</p>
      <a
        class="btn-clean-filter"
        href="{% url 'projects_app:project-list' %}?show_all=true"
        >Limpiar filtro <i class="fa fa-trash"></i
      ></a>
    </div>
    <div class="filter-program">
      <div class="text-filter-program">
        <p class="font-level-6 my-1">
          ¿En qué programa se encuentra el proyecto que buscas?
        </p>
        <p class="font-level-7 my-1">Puedes elegir más de uno.</p>
      </div>
      <div class="category-btns cols-12 row text-center">
        <div class="col-md-6 mt-2">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-outline-primary rounded-circle text-decoration-none font-weight-bold font-level-6 {% if '1' in selected_programs %}active{% endif %}">
              <input type="checkbox" name="program" value="1" 
              {% if '1' in selected_programs %}
              checked
              {% endif %}/> PMU
            </label>
          </div>
          <br />
          <span class="font-level-7 font-weight-bold"
            >Programa Mejoramiento Urbano</span
          >
        </div>
        <div class="col-md-6 mt-2">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-outline-primary rounded-circle text-decoration-none font-weight-bold font-level-6 {% if '2' in selected_programs %}active{% endif %}">
              <input type="checkbox" name="program" value="2" 
              {% if '2' in selected_programs %}
              checked
              {% endif %}/> PMB
            </label>
          </div>
          <br />
          <span class="font-level-7 font-weight-bold"
            >Programa Mejoramiento de Barrios</span
          >
        </div>
      </div>
    </div>
    <div class="filter-location">
      <div class="form-group">
        <label class="font-level-6 my-5">¿En qué región?</label>
        <select class="selectpicker" multiple name="region" data-size="5" title="Elige una o más regiones..." data-live-search="true" data-width="100%" data-selected-text-format="count" data-count-selected-text="{0} items seleccionados" data-style="btn-outline-primary" data-actions-box="true" data-select-all-text="Seleccionar todas" data-deselect-all-text="Limpiar">
        {% for region in regiones %}
          <option value="{{ region.0 }}" style="height: 35px"
            {% if region.0|stringformat:"s" in selected_regions %}
            selected="selected"
            {% endif %}>
            {{ region.1 }}
          </option>
        {% endfor %}
        </select>
      </div>
      <!--
      <div class="form-group">
        <label class="font-level-6 my-1">¿En que comuna?</label>
        <select class="custom-select" name="comuna">
          <-- que se muestre por default ( sin seleccionar) ->
            <option> Seleccionar comuna...</option>
            {% for comuna in comunas %}
            <option value="{{ comuna.0}}">{{ comuna.1 }}</option>
            {% endfor %}
        </select>
      </div>-->
    </div>
    <div class="filter-type">
      <label class="font-level-6 my-2">¿Qué tipo de proyecto es?</label>
      <div class="cols-12 row text-center my-3">
        {% for type in tipos %}
          <div class="col-6 my-2">
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-primary rounded-circle {% if type.0|stringformat:s in selected_types %}active{% endif %}">
                <input type="checkbox" name="type" value="{{ type.0 }}" {% if type.0|stringformat:"s" in selected_types %}checked{% endif %}>
                <i class="material-symbols-rounded mx-2">{{ type.2 }}</i>
              </label>
            </div>
            <span class="font-base font-weight-bold">{{ type.1 }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="filter-years my-3">
      <div>
        <label class="font-level-6 my-3"
          >¿Qué años de construcción quieres ver?</label
        >
      </div>
      <select class="selectpicker" multiple name="year" data-size="5" title="Elige uno o más años..." data-width="100%" data-style="btn-outline-primary" data-selected-text-format="count" data-count-selected-text="{0} items seleccionados" data-actions-box="true" data-select-all-text="Seleccionar todos" data-deselect-all-text="Limpiar">
        {% for year in years %}
        <option value="{{ year.0 }}" style="height: 35px"
          {% if year.0|stringformat:"s" in selected_years %}
          selected="selected"
          {% endif %}>
          {{ year.1 }}
        </option>
      {% endfor %}
      </select>
    </div>
    <div>
      <button class="btn-filter my-5" type="submit" name="show_results" cache="filter-form">
        Mostrar resultados <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>

<script>
  $(document).ready(function() {
    $('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker('val', [{% for region in selected_regions %}"{{ region }}", {% endfor %}]);
    $('.selectpicker').selectpicker('val', [{% for year in selected_years %}"{{ year }}", {% endfor %}]);
  });
</script>
