.deco-line {
    height: 10px;
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 40px; 
    display:flex;
}
.azul {
    width: 40%;
    height: 100%;
    background-color: #0f69c4;

}  
.rojo {
    width: 60%;
    height: 100%;
    background-color: #e22c2c;
   
}

footer {
    padding-bottom: 20px; /* genera un espacio para la linea decorativa */
}
@media (min-width: 992px) {
    .deco-line{
        left: 50px;
    }
}