.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.blue {
  width: 58px;
  height: 8px;
  background-color: #0f69c4;
  position: absolute;
  top: 0;
  bottom: 0;
}

.red {
  width: 82px;
  height: 8px;
  background-color: #e22c2c;
  position: absolute;
  left: 58px;
  top: 0;
  bottom: 0;
}


