{% block views %}

<div class="modal fade" id="exitSurveyModal" tabindex="-1" role="dialog" aria-labelledby="exitSurveyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exitSurveyModalLabel">Estás saliendo de la encuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que quieres salir de la encuesta? Podrías perder tu progreso.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver a la encuesta</button>
        <a href="#" id="confirmExitButton" class="btn btn-primary">Ir a la página</a>
      </div>
    </div>
  </div>
</div>

{% endblock views %}

{% block scripts %}



{% endblock scripts %}