{% load static %}

<div id="button-top" class="button-top d-flex justify-content-end mx-4 mb-4 d-none d-block d-md-none">
  <a class="btn btn-outline-primary btn-lg">Volver Arriba <i class="material-symbols-outlined ml-3">keyboard_double_arrow_up</i></a>
</div>

{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  var buttonTop = document.getElementById("button-top");
  var scrollCount = 0;

  // Mostrar el botón cuando el usuario haya realizado scroll dos veces
  window.addEventListener("scroll", function() {
    if (window.scrollY > window.innerHeight) {
      scrollCount++;
      if (scrollCount >= 2) {
        buttonTop.classList.add("show");
      }
    } else {
      buttonTop.classList.remove("show");
    }
  });

  // Hacer scroll suave cuando se hace clic en el botón
  buttonTop.addEventListener("click", function() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
});
</script>
{% endblock %}