{% load static %}
    <div class="col-md-6">
      <div class="card">
        <div class="card-img">
          <img class="img-portada" src="" alt="img-miniatura" />
        </div>
        <div class="d-flex justify-content-between w-100 h-20">
          <p class=" font-level-8 m-0">
            Fecha:
          </p>
        </div>
        <div class="body">
          <p class="h2"></p>
          <p class="description-card font-base text-sm-left">
          </p>
          <div class="tags row ">
            <div class="col-auto pb-2">
              <div class="badge border border-primary font-level-7">

              </div>
            </div>
            <div class="col-auto pb-2">
              <div class="badge border  border-primary font-level-7">
              </div>
            </div>
            <div class="col-auto pb-2">
              <div class="badge border  border-primary font-level-7 ">

              </div>
            </div>
          </div>
        </div>
        <a class="btn-more" href="">Ver
          más ></a>
      </div>
    </div>
  </div>
</div>