{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for noticia in noticias|slice:"-3:" %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="col-md-5 col-lg-6 col-xl-4 my-3 px-0">
          <div class="card mx-auto mx-md-1 mx-lg-1">
            <div class="card-img">
              <img class="img-portada" src="{{ noticia.portada_noticia.url }}" alt="img-miniatura" />
            </div>
            <div class="d-flex justify-content-between  py-0">
              <p class="font-level-8 m-0">
                <strong>Fecha de publicación:</strong> {{ noticia.created }}
              </p>
            </div>
            <div class="body">
              <p class="h3 text-decoration-underline"><u>{{ noticia.titulo_noticia }}</u></p>
              <p class="description-card font-base text-left">{{ noticia.bajada_noticia }}</p>
              <div class="tags row">
                {% for tag in noticia.tag.all %}
                <div class="col-auto pb-2">
                  <div class="badge border border-primary font-level-7">{{ tag.tag }}</div>
                </div>
                {% endfor %}
              </div>
            </div>
            <a class="btn-more" href="{% url 'noticiasymedia_app:noticia_detail' pk=noticia.id %}">Leer ></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <ol <ol class="carousel-indicators carousel-indicators-custom ">
      {% for noticia in noticias|slice:"-3:" %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
</div>
{% endblock content %}

{% block scripts %}
{% endblock %}
