{% load static %}
<!-- Conteo de días para finalizar el proceso -->

{% if days_until_start == 1 %}
    <div>
        <p class="h4 mb-2">Queda {{ days_until_start }} día para el inicio de la consulta.</p>
    </div>

{% elif days_until_start > 0 %}
    <div>
        <p class="h4 mb-2">Quedan {{ days_until_start }} días para el inicio de la consulta.</p>
    </div>

{% elif days_left > 1 %}
    <div>
        <p class="h4 mb-2">Quedan {{ days_left }} días para el cierre de la consulta.</p>
    </div>

    <!-- Barra de progreso -->
    <div class="progress progress-sm">
        <div class="progress-bar" role="progressbar"
            style="width:{{ progress_percentage }}%"
            aria-valuenow="{{ progress_percentage }}"
            aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

{% elif days_left == 1 %}
    <div>
        <p class="h4 mb-2">Queda {{ days_left }} día para el cierre de la consulta.</p>
    </div>

    <!-- Barra de progreso -->
    <div class="progress progress-sm">
        <div class="progress-bar" role="progressbar"
            style="width:{{ progress_percentage }}%"
            aria-valuenow="{{ progress_percentage }}"
            aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

{% else %}
    <div>
        <p class="h4 mb-2">La consulta ha finalizado el {{ end_date }}.</p>
    </div>
{% endif %}

