{% load static %}
<footer class="content-always-on-display">
  <div class="container-fluid">
    <div class="line"></div>
    <div class="row">
      <div class="col-md-2 a11y-fonts-col-12">
        <img
          class="w-100 mb-3 d-none d-sm-none d-md-block"
          src="{% static 'img/color_SubDesarrollo.png' %}" />
          <div class="d-<sm-block d-md-none">
          <img src="{% static 'img/logo-subdere-white.png' %}"
          class="w-100 p-1"/>
          </div>
      </div>
      <div class="col-md-4 m-2 ml-4 a11y-fonts-col-12">
        <div class="mb-2 ">Secciones</div>
        <a href="/">Inicio</a>
        <a href="">Proceso Participativo </a>
        <a href="">Preguntas Frecuentes </a>
        <a href="">Historia de la Desentralización</a>
        <a href="">Documentos</a>
      </div>
      <div class="col-md-4 m-2 ml-4 a11y-fonts-col-12">
        <div class="mb-2">Ayuda</div>
        <a class="py-0" href="">Ingresar un formulario de contacto</a>
        <div class="mb-2">Dirección</div>
        <p class="d-block mt-3 font-base">
          Teatinos 92 - Pisos 2 y 3. Santiago,
        </p>
        <p class="d-block mt-3 font-base">Chile</p>
        <a class="py-0" href="/politicas-privacidad">Politicas de Seguridad</a>
      </div>
    </div>
  </div>
</footer>
