{% load static %}
<footer class="content-always-on-display">
  <div class="container-fluid">
    <div class="row">
      <div class="line ml-md-5 pl-md-5 ml-3"></div>
      <div class="col-md-3 a11y-fonts-col-12">
          <img src="{%  static 'img/logo-subdere-blanco.svg' %}" class="w-75 ml-md-4"/>
      </div>
      <div class="col-md-4 m-2 ml-4 a11y-fonts-col-12">
        <div class="mb-2 ">Secciones</div>
        <a href="{% url 'home_app:index' %}">Inicio</a>
        <a href="{% url 'home_app:proceso_participativo' %}">Proceso Participativo </a>
        <a href="{% url 'home_app:preguntas_frecuentes' %}"">Preguntas Frecuentes </a>
        <a href="">Historia de la Descentralización</a>
        <a href="{% url 'home_app:documentos' %}">Documentos</a>
      </div>
      <div class=" ml-4 d-block d-md-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="303" height="2" viewBox="0 0 303 2" fill="none">
        <path d="M0 1.31836H302.058" stroke="white"/>
        </svg>
      </div>
      <div class="col-md-4 m-2 ml-4 a11y-fonts-col-12">
        <div class="mb-2">¿Necesitas ayuda? Escríbenos a:</div>
        <a class="py-0" href="">descentralización@subdere.gov.cl</a>
        <p class="d-block mt-3 font-base">
          Teatinos 92 - Pisos 2 y 3. Santiago,
        </p>
        <p class="d-block mt-3 font-base">Chile</p>
        <a class="py-0" href="{% url 'home_app:politivas_privacidad' %}">Politicas de Seguridad</a>
      </div>
    </div>
  </div>
</footer>
