{% load static %}
<footer class="content-always-on-display">
  <div class="container-fluid">
    <div class="line"></div>
    <div class="row">
      <div class="col-md-2 a11y-fonts-col-12">
        <img
          class="w-100 mb-3 d-none d-sm-none d-md-block"
          src="{% static 'images/color_SubDesarrollo.png' %}" />
      </div>
      <div class="col-md-2 m-2 a11y-fonts-col-12">
        <div class="mb-2">Secciones:</div>
        <a href="/">Inicio</a>
        <a href="">Banco de Proyectos</a>
      </div>
      <div class="col-md-4 a11y-fonts-col-12">
        <div class="mb-2">Enlaces de Interes:</div>
        <a
          href="http://www.subdere.gov.cl/programas/divisi%C3%B3n-municipalidades/programa-mejoramiento-urbano-y-equipamiento-comunal-pmu"
          target="_blank"
          >Programa Mejoramiento Urbano</a
        >
        <a
          href="http://www.subdere.gov.cl/programas/divisi%C3%B3n-municipalidades/programa-mejoramiento-de-barrios-pmb"
          target="_blank"
          >Programa Mejoramiento de Barrios</a
        >
        <a href="https://www.subdere.gob.cl/" target="_blank"
          >Region y Administrativo SUBDERE</a
        >
        <a href="https://www.interior.gob.cl/" target="_blank"
          >Ministerio del Interior y Seguridad Pública</a
        >
      </div>
      <div class="col-md-3 a11y-fonts-col-12">
        <div class="mb-2">Dirección:</div>
        <p class="d-block mt-3 font-base">
          Teatinos 92 - Pisos 2 y 3. Santiago,
        </p>
        <p class="d-block mt-3 font-base">Chile</p>
        <p class="mb-0">Teléfono Mesa Central:</p>
        <a class="py-0" href="tel:(2)26363600">(2) 2636 36 00</a>
        <a class="py-0" href="">Contacto</a>
      </div>
    </div>
  </div>
</footer>
