{% load static %}
<div class="container col-md-12 mt-5"> 
   <p class="font-level-2 text-center pb-4 text-black font-weight-bold">Consulta Ciudadana</p>
   <p class="h4 pb-4">Se realizará una consulta a la ciudadanía, online y con clave única, que busca recoger las opiniones y 
    aportes de personas que deseen participar en la elaboración de la Política de Descentralización de Chile.</p>

    <div class="my-3 d-flex flex-column align-items-center">
            <button class="btn btn-neutral btn-default-size text-white border-white bg-primary mb-4" type="button" onclick="window.location.href='/onboarding'">Participar
                <i class="material-symbols-outlined">
                chevron_right
                </i>
            </button>
    </div>   
</div>