{% load static %}
{% block content %}
{% for noticia in noticias|slice:"-3:" %}
<div class="col-4">
  <div class="card w-100 my-2 ">
    <div class="card-img">
      <img class="img-portada" src="{{ noticia.portada_noticia.url }}" alt="img-miniatura" />
    </div>
    <div class="d-flex justify-content-between  py-0">
      <p class="font-level-8 m-0">
      <strong> Fecha de publicación:</strong> {{ noticia.created|date:"l j \\d\\e F \\d\\e Y" }}
    </p>
    </div>
    <div class="body">
      <p class="h3 text-decoration-underline"><u>{{ noticia.titulo_noticia }}</u></p>
      <p class="description-card font-base text-left">{{ noticia.bajada_noticia }}</p>
      <div class="tags row">
        {% for tag in noticia.tag.all %}
        <div class="col-auto pb-2">
          <div class="badge border border-primary font-level-7">{{ tag.tag }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <a class="btn-more" href="{% url 'noticiasymedia_app:noticia_detail' noticia.slug %}">Ver más ></a>
  </div>
</div>
{% endfor %}
{% endblock content %}