{% load static %}
{% block content %}
{% for album in latest_albums|slice:3 %}
<div class="col-4">
  <div class="card w-100 my-2 ">
    <div class="card-img">
      <img class="img-portada" src="{{ album.foto_portada.url }}" alt="img-miniatura" />
    </div>
    <div class="d-flex justify-content-between  py-0">
      <p class="font-level-8 m-0">
      <strong> Última actualización:</strong> {{ album.modified|date:"l j \\d\\e F \\d\\e Y" }}
    </p>
    </div>
    <div class="body">
      <p class="h3 text-decoration-underline"><u>Diálogo regional de la {{ album.region }}</u></p>
    </div>
    <a class="btn-more" href="{% url 'noticiasymedia_app:albums_by_region' album.region.id %}">Leer ></a>
  </div>
</div>
{% endfor %}
{% endblock content %}