<!-- Tabla con eventos -->
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table bg-primary text-white">
            <tr>
                <th class="d-none d-md-table-cell">Región</th>
                <th>Locación</th>
                <th>Fecha</th>
                <th>Ciudad</th>
                <th class="d-none d-md-table-cell">Dirección exacta</th>
                <th>Horario</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Arica y Parinacota</td>
                <td class="align-middle">Universidad de Tarapacá</td>
                <td class="align-middle">31 de julio</td>
                <td class="align-middle">Arica</td>
                <td class="align-middle d-none d-md-table-cell">Sala 314 y Sala 315 del Departamento de Educación, 18 de Septiembre 2222</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Tarapacá</td>
                <td class="align-middle" class="align-middle">Edificio de Convenciones Zofri</td>
                <td class="align-middle" class="align-middle">12 de julio</td>
                <td class="align-middle" class="align-middle">Iquique</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Salón Raúl Cámara, 4to Piso Edificio Convenciones ZOFRI</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Antofagasta</td>
                <td class="align-middle" class="align-middle">Universidad de Antofagasta</td>
                <td class="align-middle" class="align-middle">18 de julio</td>
                <td class="align-middle" class="align-middle">Antofagasta</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Salón Horacio Meléndez, Avenida Angamos 601</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Atacama</td>
                <td class="align-middle" class="align-middle">Universidad de Atacama</td>
                <td class="align-middle" class="align-middle">8 de agosto</td>
                <td class="align-middle" class="align-middle">Copiapó</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Por confirmar</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Coquimbo</td>
                <td class="align-middle" class="align-middle">Universidad de La Serena</td>
                <td class="align-middle" class="align-middle">5 de julio</td>
                <td class="align-middle" class="align-middle">La Serena</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Salón Anfiteatro, Amunategui 851</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Valparaíso</td>
                <td class="align-middle" class="align-middle">Hotel O'Higgins</td>
                <td class="align-middle" class="align-middle">1 de julio</td>
                <td class="align-middle" class="align-middle">Viña del Mar</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Salón Independencia del Hotel O'Higgins, Plaza Vergara s/n</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">RM</td>
                <td class="align-middle" class="align-middle">Universidad de Los Lagos</td>
                <td class="align-middle" class="align-middle">2 de agosto</td>
                <td class="align-middle" class="align-middle">Santiago</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Por confirmar</td>
                <td class="align-middle">10:00-13:30 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">O'Higgins</td>
                <td class="align-middle" class="align-middle">Universidad de O'Higgins</td>
                <td class="align-middle" class="align-middle">12 de julio</td>
                <td class="align-middle" class="align-middle">Rancagua</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Auditorio Principal, Alameda 611</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Maule</td>
                <td class="align-middle" class="align-middle">Universidad de Talca</td>
                <td class="align-middle" class="align-middle">24 de julio</td>
                <td class="align-middle" class="align-middle">Talca</td>
                <td class="align-middle d-none d-md-table-cell" class="align-middle">Sala Pedro Olmos, Centro de Extensión de la Universidad de Talca, 2 Norte 685</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Ñuble</td>
                <td class="align-middle">Universidad del Bío-Bío</td>
                <td class="align-middle">26 de julio</td>
                <td class="align-middle">Chillán</td>
                <td class="align-middle d-none d-md-table-cell">Aulas C, Campus Fernando May de la Universidad del Bío-Bío, Avda. Andrés Bello 720</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Biobío</td>
                <td class="align-middle">Universidad del Bío-Bío</td>
                <td class="align-middle">4 de julio</td>
                <td class="align-middle">Concepción</td>
                <td class="align-middle d-none d-md-table-cell">Edificio Gantes de la Facultad de Ingeniería de la Universidad del Bío-Bío, Av. Collao 1202, Sala de Estudios, 2° Piso</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">La Araucanía</td>
                <td class="align-middle">Universidad de La Frontera</td>
                <td class="align-middle">17 de junio</td>
                <td class="align-middle">Temuco</td>
                <td class="align-middle d-none d-md-table-cell">Sala 101, Uruguay 01720</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Los Ríos</td>
                <td class="align-middle">Universidad Austral</td>
                <td class="align-middle">27 de junio</td>
                <td class="align-middle">Valdivia</td>
                <td class="align-middle d-none d-md-table-cell">FACEA, Calle Viel S/N, Camino al Club Phoenix</td>
                <td class="align-middle">14:30-18:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Los Lagos</td>
                <td class="align-middle">Universidad de Los Lagos</td>
                <td class="align-middle">17 de julio</td>
                <td class="align-middle">Puerto Montt</td>
                <td class="align-middle d-none d-md-table-cell">Quellón 203, Población Antonio Varas</td>
                <td class="align-middle">14:30-18:00 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Aysén</td>
                <td class="align-middle">GORE Aysén</td>
                <td class="align-middle">28 de mayo</td>
                <td class="align-middle">Coyhaique</td>
                <td class="align-middle d-none d-md-table-cell">Ejército 405</td>
                <td class="align-middle">14:00-17:30 hrs.</td>
            </tr>
            <tr>
                <td class="align-middle d-none d-md-table-cell">Magallanes</td>
                <td class="align-middle">Universidad de Magallanes</td>
                <td class="align-middle">24 de junio</td>
                <td class="align-middle">Punta Arenas</td>
                <td class="align-middle d-none d-md-table-cell">CADI UMAG, Av. Los Flamencos 01364</td>
                <td class="align-middle">9:30-13:00 hrs.</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Fin tabla con eventos -->